In [1]:
import pandas as pd

In [2]:
df1_1_1=pd.read_csv('April.csv')

In [3]:
df1_1_1.head()

      Your registered email id  Your registered mobile number  Percentile
0  priyanshujha.pj06@gmail.com                     8668606304   99.197164
1      vidhitalwar01@gmail.com                     8273002370   99.003291
2      upwordhill987@gmail.com                     9625497741   99.443676
3          rs.raag17@gmail.com                     9560806945   99.728357
4    maheshbarik2006@gmail.com                     8093378029   99.295775

In [4]:
df1_1_1=df1_1_1[df1_1_1['Percentile']>=99.5]

In [13]:
df1_1_1=df1_1_1.reset_index()
df1_1_1.head()

,index,Your registered email id,Your registered mobile number,Percentile
0,3,rs.raag17@gmail.com,9560806945,99.728357
1,7,harshvardhanbagri44@gmail.com,8168902818,99.517182
2,14,pritishcartoonsbig@gmail.com,9873420111,99.513245
3,17,arnavmaloo09@gmail.com,8529649169,99.522216
4,18,ameya7072@gmail.com,7895646931,99.553938

In [14]:
df1_1_1.iloc[:,0]

0       3
1       7
2      14
3      17
4      18
     ...
94    350
95    352
96    354
97    355
98    359
Name: index, Length: 99, dtype: int64

In [15]:
file = open("list1.txt", "w")
for index in range(len(df1_1_1.iloc[:,0])):
    file.write('{'+"email:'"+str(df1_1_1.iloc[:,1][index]) + "'},")
file.close()

In [17]:
import json

In [18]:
with open('strapi-admin-panel.platform_users_aprilpred99_5.json') as outf:
    df1_1=json.load(outf)
df1_1=pd.DataFrame.from_dict(df1_1)
df1_1.head()

,_id,settings,targetExams,FCM_TOKEN,notificationTopics,notifications,isWhatsAppNumber,isAllPacksAllowed,allowedPacks,userType,...,city,pincode,class,partialDropper,board,isOnboardingV2Done,lastSeenPack,instituteCode,preparationDetails,preparationDetailsCompleted
0,{'$oid': '65a9f052c3d3af1fe919a4c5'},"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5fef'}, {'$oid'...",[],[],[],True,False,[],student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '6593d648ba0c875fa67a4a3f'},"{'emails': True, 'importantEmails': True, 'imp...",[{'$oid': '605dfcb2f226ac25a8bd5ff0'}],[],[],[],False,False,[],student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '6568b8dc0be0949faa6e1e19'},"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5ff0'}, {'$oid'...",[],[],[],True,False,[],student,...,Mumbai Suburban,400072,{'$oid': '605df635a37b7025c438d685'},False,{'$oid': '667029b67d6b8416c261f82f'},True,NaN,NaN,NaN,NaN
3,{'$oid': '6558f9c23a1b055d25ff4676'},"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5ff0'}, None, {...",[],[],[],True,NaN,NaN,NaN,...,Mumbai Suburban,400059,{'$oid': '605df635a37b7025c438d685'},False,{'$oid': '667029b67d6b8416c261f82f'},True,NaN,NaN,NaN,NaN
4,{'$oid': '65673dd583c3399ffb27172a'},"{'emails': False, 'importantEmails': True, 'im...","[{'$oid': '605dfcb2f226ac25a8bd5fef'}, {'$oid'...",[],[],[],False,False,[],student,...,Ashkāsham,3333333,NaN,NaN,NaN,NaN,{'$oid': '641561bcdf4bc50f87f98d46'},CFAL2024,NaN,NaN

In [19]:
df1_1['_id']=df1_1['_id'].apply(lambda x:x.get('$oid'))
df1_1.head()

,_id,settings,targetExams,FCM_TOKEN,notificationTopics,notifications,isWhatsAppNumber,isAllPacksAllowed,allowedPacks,userType,...,city,pincode,class,partialDropper,board,isOnboardingV2Done,lastSeenPack,instituteCode,preparationDetails,preparationDetailsCompleted
0,65a9f052c3d3af1fe919a4c5,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5fef'}, {'$oid'...",[],[],[],True,False,[],student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6593d648ba0c875fa67a4a3f,"{'emails': True, 'importantEmails': True, 'imp...",[{'$oid': '605dfcb2f226ac25a8bd5ff0'}],[],[],[],False,False,[],student,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6568b8dc0be0949faa6e1e19,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5ff0'}, {'$oid'...",[],[],[],True,False,[],student,...,Mumbai Suburban,400072,{'$oid': '605df635a37b7025c438d685'},False,{'$oid': '667029b67d6b8416c261f82f'},True,NaN,NaN,NaN,NaN
3,6558f9c23a1b055d25ff4676,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5ff0'}, None, {...",[],[],[],True,NaN,NaN,NaN,...,Mumbai Suburban,400059,{'$oid': '605df635a37b7025c438d685'},False,{'$oid': '667029b67d6b8416c261f82f'},True,NaN,NaN,NaN,NaN
4,65673dd583c3399ffb27172a,"{'emails': False, 'importantEmails': True, 'im...","[{'$oid': '605dfcb2f226ac25a8bd5fef'}, {'$oid'...",[],[],[],False,False,[],student,...,Ashkāsham,3333333,NaN,NaN,NaN,NaN,{'$oid': '641561bcdf4bc50f87f98d46'},CFAL2024,NaN,NaN

In [20]:
file = open("list1.txt", "w")
for index in range(len(df1_1.iloc[:,0])):
    file.write('{'+"userId:ObjectId('"+str(df1_1.iloc[:,0][index]) + "')},")
file.close()

In [111]:
with open('strapi-admin-panel.detailed_analyses_aprilpred.json') as outf:
    df2=json.load(outf)
df2=pd.DataFrame.from_dict(df2)
df2.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v
0,{'$oid': '62a615351ed36c04de22cae7'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c1fffa267606d24fb7411'},0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0
1,{'$oid': '62af04539011c8495db99872'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c5b8f8f253e5778bd86a8'},0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0
2,{'$oid': '6342cea5c09d95e0e99f9e8b'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d048869f6e5150d0b4fc0f'},0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0
3,{'$oid': '63627c74ebd62fc378ced962'},{'$oid': '63542c772ef4ea103afdf799'},{'$oid': '62d04863c6a09e2c86a69d09'},14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0
4,{'$oid': '63674f2475aa7bc3d7bff510'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d04878cb20fa1bfa8e349a'},0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0

In [102]:
df22=df2

In [103]:
df22.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v
0,{'$oid': '62a615351ed36c04de22cae7'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c1fffa267606d24fb7411'},0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0
1,{'$oid': '62af04539011c8495db99872'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c5b8f8f253e5778bd86a8'},0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0
2,{'$oid': '6342cea5c09d95e0e99f9e8b'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d048869f6e5150d0b4fc0f'},0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0
3,{'$oid': '63627c74ebd62fc378ced962'},{'$oid': '63542c772ef4ea103afdf799'},{'$oid': '62d04863c6a09e2c86a69d09'},14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0
4,{'$oid': '63674f2475aa7bc3d7bff510'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d04878cb20fa1bfa8e349a'},0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0

In [104]:
df22['_id']=df22['_id'].apply(lambda x:x.get('$oid'))
df22['testId']=df22['testId'].apply(lambda x:x.get('$oid'))
df22['userId']=df22['userId'].apply(lambda x:x.get('$oid'))
df22.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v
0,62a615351ed36c04de22cae7,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0
1,62af04539011c8495db99872,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0
2,6342cea5c09d95e0e99f9e8b,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0
3,63627c74ebd62fc378ced962,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0
4,63674f2475aa7bc3d7bff510,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0

In [110]:
df2.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v
0,62a615351ed36c04de22cae7,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0
1,62af04539011c8495db99872,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0
2,6342cea5c09d95e0e99f9e8b,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0
3,63627c74ebd62fc378ced962,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0
4,63674f2475aa7bc3d7bff510,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0

In [112]:
df1=df2

In [113]:
df1.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v
0,{'$oid': '62a615351ed36c04de22cae7'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c1fffa267606d24fb7411'},0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0
1,{'$oid': '62af04539011c8495db99872'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c5b8f8f253e5778bd86a8'},0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0
2,{'$oid': '6342cea5c09d95e0e99f9e8b'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d048869f6e5150d0b4fc0f'},0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0
3,{'$oid': '63627c74ebd62fc378ced962'},{'$oid': '63542c772ef4ea103afdf799'},{'$oid': '62d04863c6a09e2c86a69d09'},14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0
4,{'$oid': '63674f2475aa7bc3d7bff510'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d04878cb20fa1bfa8e349a'},0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0

In [114]:
df1['_id1']=df1['_id'].apply(lambda x:x.get('$oid'))
df1['testid1']=df1['testId'].apply(lambda x:x.get('$oid'))
df1['userid1']=df1['userId'].apply(lambda x:x.get('$oid'))
df1.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v,_id1,testid1,userid1
0,{'$oid': '62a615351ed36c04de22cae7'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c1fffa267606d24fb7411'},0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0,62a615351ed36c04de22cae7,629c1fffa267606d24fb7411,62a5b3562f2c8edf02cd8f28
1,{'$oid': '62af04539011c8495db99872'},{'$oid': '62a5b3562f2c8edf02cd8f28'},{'$oid': '629c5b8f8f253e5778bd86a8'},0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0,62af04539011c8495db99872,629c5b8f8f253e5778bd86a8,62a5b3562f2c8edf02cd8f28
2,{'$oid': '6342cea5c09d95e0e99f9e8b'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d048869f6e5150d0b4fc0f'},0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0,6342cea5c09d95e0e99f9e8b,62d048869f6e5150d0b4fc0f,6342b29ce77795e149e62052
3,{'$oid': '63627c74ebd62fc378ced962'},{'$oid': '63542c772ef4ea103afdf799'},{'$oid': '62d04863c6a09e2c86a69d09'},14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0,63627c74ebd62fc378ced962,62d04863c6a09e2c86a69d09,63542c772ef4ea103afdf799
4,{'$oid': '63674f2475aa7bc3d7bff510'},{'$oid': '6342b29ce77795e149e62052'},{'$oid': '62d04878cb20fa1bfa8e349a'},0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0,63674f2475aa7bc3d7bff510,62d04878cb20fa1bfa8e349a,6342b29ce77795e149e62052

In [115]:
df1.drop(['_id','userId','testId'],axis=1,inplace=True)
df1.head()

,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v,_id1,testid1,userid1
0,0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0,62a615351ed36c04de22cae7,629c1fffa267606d24fb7411,62a5b3562f2c8edf02cd8f28
1,0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0,62af04539011c8495db99872,629c5b8f8f253e5778bd86a8,62a5b3562f2c8edf02cd8f28
2,0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0,6342cea5c09d95e0e99f9e8b,62d048869f6e5150d0b4fc0f,6342b29ce77795e149e62052
3,14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0,63627c74ebd62fc378ced962,62d04863c6a09e2c86a69d09,63542c772ef4ea103afdf799
4,0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0,63674f2475aa7bc3d7bff510,62d04878cb20fa1bfa8e349a,6342b29ce77795e149e62052

In [116]:
df2=pd.DataFrame([tuple(list(d.values()))+(tup._9,) for tup in df1.itertuples() for d in tup.subjects])
df2.columns=list(df1['subjects'][0][0].keys())+['id1']
df2.head()

,painfulQuestions,missedConcepts,_id,subjectId,timeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,notVisited,easyCorrect,easyIncorrect,easyUnanswered,moderateCorrect,moderateIncorrect,moderateUnanswered,toughCorrect,toughIncorrect,toughUnanswered,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts,id1
0,"[{'$oid': '62a41b00acc3cedefb5f3471'}, {'$oid'...","[{'$oid': '62a41b00acc3cedefb5f3462'}, {'$oid'...",{'$oid': '62a615351ed36c04de22cae8'},{'$oid': '607018ee404ae53194e73d92'},2279,54.0,21,15,71.428571,0,9,3,1,4,3,3,2,0,0,10,0,2,1,62a615351ed36c04de22cae7
1,"[{'$oid': '62ab299c44ccb43189b68826'}, {'$oid'...","[{'$oid': '62ab299c44ccb43189b68849'}, {'$oid'...",{'$oid': '62af04539011c8495db99873'},{'$oid': '607018ee404ae53194e73d92'},2489,77.0,23,20,86.956522,0,10,1,0,8,1,1,2,1,1,16,1,2,2,62af04539011c8495db99872
2,"[{'$oid': '617aaa1eef3fe65ad8e86844'}, {'$oid'...","[{'$oid': '617aaa1eef3fe65ad8e8685d'}, {'$oid'...",{'$oid': '6342cea5c09d95e0e99f9e8c'},{'$oid': '607018ee404ae53194e73d92'},4449,65.0,20,17,85.000000,0,10,1,1,6,0,6,1,2,3,8,0,1,3,6342cea5c09d95e0e99f9e8b
3,[],[],{'$oid': '63627c74ebd62fc378ced963'},{'$oid': '607018ee404ae53194e73d90'},518,12.0,3,3,100.000000,14,0,0,1,2,0,9,1,0,7,2,0,0,0,63627c74ebd62fc378ced962
4,[{'$oid': '617aa9eaef3fe65ad8e838b0'}],"[{'$oid': '617aa9eaef3fe65ad8e83856'}, {'$oid'...",{'$oid': '63674f2475aa7bc3d7bff511'},{'$oid': '607018ee404ae53194e73d91'},1562,51.0,24,15,62.500000,0,6,2,1,7,7,4,2,0,1,13,0,1,0,63674f2475aa7bc3d7bff510

In [117]:
df3=df2.drop(['painfulQuestions','missedConcepts','_id','subjectId','timeTaken'],axis=1)
df3.head()

,totalMarkScored,totalAttempted,totalCorrect,accuracy,notVisited,easyCorrect,easyIncorrect,easyUnanswered,moderateCorrect,moderateIncorrect,moderateUnanswered,toughCorrect,toughIncorrect,toughUnanswered,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts,id1
0,54.0,21,15,71.428571,0,9,3,1,4,3,3,2,0,0,10,0,2,1,62a615351ed36c04de22cae7
1,77.0,23,20,86.956522,0,10,1,0,8,1,1,2,1,1,16,1,2,2,62af04539011c8495db99872
2,65.0,20,17,85.000000,0,10,1,1,6,0,6,1,2,3,8,0,1,3,6342cea5c09d95e0e99f9e8b
3,12.0,3,3,100.000000,14,0,0,1,2,0,9,1,0,7,2,0,0,0,63627c74ebd62fc378ced962
4,51.0,24,15,62.500000,0,6,2,1,7,7,4,2,0,1,13,0,1,0,63674f2475aa7bc3d7bff510

In [118]:
df4=df3.groupby('id1').aggregate('sum')
df4.head()

,totalMarkScored,totalAttempted,totalCorrect,accuracy,notVisited,easyCorrect,easyIncorrect,easyUnanswered,moderateCorrect,moderateIncorrect,moderateUnanswered,toughCorrect,toughIncorrect,toughUnanswered,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts
id1,,,,,,,,,,,,,,,,,,
62a615351ed36c04de22cae7,54.0,21,15,71.428571,0,9,3,1,4,3,3,2,0,0,10,0,2,1
62af04539011c8495db99872,77.0,23,20,86.956522,0,10,1,0,8,1,1,2,1,1,16,1,2,2
6342cea5c09d95e0e99f9e8b,65.0,20,17,85.000000,0,10,1,1,6,0,6,1,2,3,8,0,1,3
63627c74ebd62fc378ced962,12.0,3,3,100.000000,14,0,0,1,2,0,9,1,0,7,2,0,0,0
63674f2475aa7bc3d7bff510,51.0,24,15,62.500000,0,6,2,1,7,7,4,2,0,1,13,0,1,0

In [119]:
df4['accuracy']=(df4['totalCorrect']/df4['totalAttempted'])*100
df4.head()

,totalMarkScored,totalAttempted,totalCorrect,accuracy,notVisited,easyCorrect,easyIncorrect,easyUnanswered,moderateCorrect,moderateIncorrect,moderateUnanswered,toughCorrect,toughIncorrect,toughUnanswered,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts
id1,,,,,,,,,,,,,,,,,,
62a615351ed36c04de22cae7,54.0,21,15,71.428571,0,9,3,1,4,3,3,2,0,0,10,0,2,1
62af04539011c8495db99872,77.0,23,20,86.956522,0,10,1,0,8,1,1,2,1,1,16,1,2,2
6342cea5c09d95e0e99f9e8b,65.0,20,17,85.000000,0,10,1,1,6,0,6,1,2,3,8,0,1,3
63627c74ebd62fc378ced962,12.0,3,3,100.000000,14,0,0,1,2,0,9,1,0,7,2,0,0,0
63674f2475aa7bc3d7bff510,51.0,24,15,62.500000,0,6,2,1,7,7,4,2,0,1,13,0,1,0

In [120]:
df4['easyCorrect1']=(df4['easyCorrect']/(df4['easyCorrect']+df4['easyIncorrect']+df4['easyUnanswered']))*100
df4['easyIncorrect1']=(df4['easyIncorrect']/(df4['easyCorrect']+df4['easyIncorrect']+df4['easyUnanswered']))*100
df4['easyUnanswered1']=(df4['easyUnanswered']/(df4['easyCorrect']+df4['easyIncorrect']+df4['easyUnanswered']))*100
df4['moderateCorrect1']=(df4['moderateCorrect']/(df4['moderateCorrect']+df4['moderateIncorrect']+df4['moderateUnanswered']))*100
df4['moderateIncorrect1']=(df4['moderateIncorrect']/(df4['moderateCorrect']+df4['moderateIncorrect']+df4['moderateUnanswered']))*100
df4['moderateUnanswered1']=(df4['moderateUnanswered']/(df4['moderateCorrect']+df4['moderateIncorrect']+df4['moderateUnanswered']))*100
df4['toughCorrect1']=(df4['toughCorrect']/(df4['toughCorrect']+df4['toughIncorrect']+df4['toughUnanswered']))*100
df4['toughIncorrect1']=(df4['toughIncorrect']/(df4['toughCorrect']+df4['toughIncorrect']+df4['toughUnanswered']))*100
df4['toughUnanswered1']=(df4['toughUnanswered']/(df4['toughCorrect']+df4['toughIncorrect']+df4['toughUnanswered']))*100
df4.head()

,totalMarkScored,totalAttempted,totalCorrect,accuracy,notVisited,easyCorrect,easyIncorrect,easyUnanswered,moderateCorrect,moderateIncorrect,moderateUnanswered,toughCorrect,toughIncorrect,toughUnanswered,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1
id1,,,,,,,,,,,,,,,,,,,,,,,,,,,
62a615351ed36c04de22cae7,54.0,21,15,71.428571,0,9,3,1,4,3,3,2,0,0,10,0,2,1,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000
62af04539011c8495db99872,77.0,23,20,86.956522,0,10,1,0,8,1,1,2,1,1,16,1,2,2,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000
6342cea5c09d95e0e99f9e8b,65.0,20,17,85.000000,0,10,1,1,6,0,6,1,2,3,8,0,1,3,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000
63627c74ebd62fc378ced962,12.0,3,3,100.000000,14,0,0,1,2,0,9,1,0,7,2,0,0,0,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000
63674f2475aa7bc3d7bff510,51.0,24,15,62.500000,0,6,2,1,7,7,4,2,0,1,13,0,1,0,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333

In [121]:
df4['notVisited1']=(df4['notVisited']/(df4['totalCorrect']+df4['easyIncorrect']+df4['easyUnanswered']+df4['moderateIncorrect']+df4['moderateUnanswered']+df4['toughIncorrect']+df4['toughUnanswered']+df4['notVisited']))*100
df4['totalAttempted1']=(df4['totalAttempted']/(df4['totalCorrect']+df4['easyIncorrect']+df4['easyUnanswered']+df4['moderateIncorrect']+df4['moderateUnanswered']+df4['toughIncorrect']+df4['toughUnanswered']+df4['notVisited']))*100
df4['totalCorrect1']=(df4['totalCorrect']/(df4['totalCorrect']+df4['easyIncorrect']+df4['easyUnanswered']+df4['moderateIncorrect']+df4['moderateUnanswered']+df4['toughIncorrect']+df4['toughUnanswered']+df4['notVisited']))*100
df4.head()

,totalMarkScored,totalAttempted,totalCorrect,accuracy,notVisited,easyCorrect,easyIncorrect,easyUnanswered,moderateCorrect,moderateIncorrect,moderateUnanswered,toughCorrect,toughIncorrect,toughUnanswered,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1
id1,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
62a615351ed36c04de22cae7,54.0,21,15,71.428571,0,9,3,1,4,3,3,2,0,0,10,0,2,1,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000
62af04539011c8495db99872,77.0,23,20,86.956522,0,10,1,0,8,1,1,2,1,1,16,1,2,2,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000
6342cea5c09d95e0e99f9e8b,65.0,20,17,85.000000,0,10,1,1,6,0,6,1,2,3,8,0,1,3,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667
63627c74ebd62fc378ced962,12.0,3,3,100.000000,14,0,0,1,2,0,9,1,0,7,2,0,0,0,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529
63674f2475aa7bc3d7bff510,51.0,24,15,62.500000,0,6,2,1,7,7,4,2,0,1,13,0,1,0,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000

In [122]:
df5=df4.drop(columns=['easyCorrect','easyIncorrect','easyUnanswered','moderateCorrect','moderateIncorrect','moderateUnanswered','toughCorrect','toughIncorrect','toughUnanswered','notVisited','totalAttempted','totalCorrect'],axis=1)
df5.head()

,totalMarkScored,accuracy,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1
id1,,,,,,,,,,,,,,,,,,
62a615351ed36c04de22cae7,54.0,71.428571,10,0,2,1,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000
62af04539011c8495db99872,77.0,86.956522,16,1,2,2,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000
6342cea5c09d95e0e99f9e8b,65.0,85.000000,8,0,1,3,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667
63627c74ebd62fc378ced962,12.0,100.000000,2,0,0,0,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529
63674f2475aa7bc3d7bff510,51.0,62.500000,13,0,1,0,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000

In [123]:
df5['accuracy']=df5['accuracy'].fillna(0)
df5.head()

,totalMarkScored,accuracy,perfectAttempts,wastedAttempts,overtimeAttempts,confusedAttempts,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1
id1,,,,,,,,,,,,,,,,,,
62a615351ed36c04de22cae7,54.0,71.428571,10,0,2,1,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000
62af04539011c8495db99872,77.0,86.956522,16,1,2,2,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000
6342cea5c09d95e0e99f9e8b,65.0,85.000000,8,0,1,3,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667
63627c74ebd62fc378ced962,12.0,100.000000,2,0,0,0,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529
63674f2475aa7bc3d7bff510,51.0,62.500000,13,0,1,0,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000

In [187]:
df6=df5.drop(columns=['perfectAttempts','wastedAttempts','overtimeAttempts','confusedAttempts','totalMarkScored'],axis=1)
df6.head(30)

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1
id1,,,,,,,,,,,,,
62a615351ed36c04de22cae7,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000
62af04539011c8495db99872,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000
6342cea5c09d95e0e99f9e8b,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667
63627c74ebd62fc378ced962,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529
63674f2475aa7bc3d7bff510,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000
63675af4d047a5c3ff1438c7,70.000000,63.636364,18.181818,18.181818,50.000000,16.666667,33.333333,14.285714,28.571429,57.142857,0.000000,66.666667,46.666667
63676c8e2415b6c4334e482b,76.190476,36.363636,36.363636,27.272727,53.846154,7.692308,38.461538,83.333333,0.000000,16.666667,0.000000,70.000000,53.333333
63830e20430ed352525794a9,95.833333,90.909091,0.000000,9.090909,76.923077,7.692308,15.384615,50.000000,0.000000,50.000000,0.000000,80.000000,76.666667
6383289569f7d55259098f46,95.833333,100.000000,0.000000,0.000000,50.000000,8.333333,41.666667,83.333333,0.000000,16.666667,3.225806,77.419355,74.193548
638a1699430ed352525beece,68.750000,14.285714,5.714286,80.000000,8.823529,2.941176,88.235294,14.285714,9.523810,76.190476,43.037975,10.126582,6.962025
638c49ac483bc85183161a8e,69.565217,60.000000,30.000000,10.000000,53.846154,23.076923,23.076923,42.857143,14.285714,42.857143,0.000000,76.666667,53.333333
638c5861df788451e524fa92,66.666667,60.000000,0.000000,40.000000,53.846154,38.461538,7.692308,14.285714,28.571429,57.142857,0.000000,70.000000,46.666667
638d85fa7f45f851f85780c7,100.000000,82.352941,0.000000,17.647059,50.000000,0.000000,50.000000,0.000000,0.000000,100.000000,0.000000,75.000000,75.000000
638ddd73483bc85183175916,70.000000,80.000000,0.000000,20.000000,50.000000,27.777778,22.222222,50.000000,50.000000,0.000000,0.000000,80.000000,56.000000
63922a20b36b5d51d3abd2ae,56.666667,11.764706,20.588235,67.647059,32.432432,10.810811,56.756757,5.263158,10.526316,84.210526,29.133858,23.622047,13.385827
63959471e59418514c68afb3,78.260870,40.000000,30.000000,30.000000,85.714286,7.142857,7.142857,33.333333,16.666667,50.000000,0.000000,76.666667,60.000000
6395b273df788451e52b2655,87.500000,60.000000,20.000000,20.000000,71.428571,0.000000,28.571429,83.333333,16.666667,0.000000,0.000000,80.000000,70.000000
63960492a883a25272e6988b,81.818182,40.000000,20.000000,40.000000,71.428571,14.285714,14.285714,66.666667,0.000000,33.333333,0.000000,73.333333,60.000000
6396107e7f45f851f85d51ae,90.909091,100.000000,0.000000,0.000000,36.363636,9.090909,54.545455,40.000000,0.000000,60.000000,0.000000,55.000000,50.000000
639ec00011cb6f8b305a8d27,80.000000,71.428571,28.571429,0.000000,66.666667,33.333333,0.000000,100.000000,0.000000,0.000000,0.000000,100.000000,80.000000
639ec7f427ebaf8b671b821d,92.857143,85.714286,14.285714,0.000000,100.000000,0.000000,0.000000,75.000000,0.000000,25.000000,0.000000,93.333333,86.666667
639ed201f0043a8ad932fa56,76.470588,77.777778,11.111111,11.111111,50.000000,33.333333,16.666667,60.000000,20.000000,20.000000,0.000000,85.000000,65.000000
63a0ab0c3a6a538b3d9901b1,78.571429,60.000000,10.000000,30.000000,57.142857,14.285714,28.571429,33.333333,33.333333,33.333333,16.666667,58.333333,45.833333
63a72670869dc38b36e629fd,25.000000,3.225806,3.225806,93.548387,0.000000,5.000000,95.000000,0.000000,0.000000,100.000000,48.275862,2.298851,0.574713
63a7f78a27b20a8b6e29ea73,65.000000,66.666667,33.333333,0.000000,46.666667,33.333333,20.000000,57.142857,14.285714,28.571429,0.000000,80.000000,52.000000
63a7fef227b20a8b6e29fa62,68.421053,33.333333,50.000000,16.666667,64.705882,17.647059,17.647059,0.000000,0.000000,100.000000,0.000000,76.000000,52.000000
63a806217ffae98b6d02f750,72.222222,70.588235,17.647059,11.764706,33.333333,66.666667,0.000000,NaN,NaN,NaN,0.000000,90.000000,65.000000
63aef19727b20a8b6e36f3c3,39.393939,23.529412,29.411765,47.058824,11.428571,17.142857,71.428571,4.761905,19.047619,76.190476,18.918919,29.729730,11.711712
63b03036e9ee5c8b0f518d14,66.666667,43.750000,18.750000,37.500000,0.000000,33.333333,66.666667,100.000000,0.000000,0.000000,0.000000,60.000000,40.000000
63b0370fe9ee5c8b0f51a0ec,90.000000,61.538462,7.692308,30.769231,50.000000,0.000000,50.000000,NaN,NaN,NaN,0.000000,66.666667,60.000000

In [125]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df6_1=sc.fit_transform(df6)
df6_2=pd.DataFrame(df6_1)

In [29]:
pd.DataFrame(df6_1).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,1.636300e+04,1.634600e+04,1.634600e+04,1.634600e+04,1.635400e+04,1.635400e+04,1.635400e+04,1.627900e+04,1.627900e+04,1.627900e+04,1.636300e+04,1.636300e+04,1.636300e+04
mean,-4.342374e-16,1.043254e-16,-5.216269e-18,-1.147579e-16,-2.085487e-16,-4.518555e-17,-1.668389e-16,2.531573e-17,-4.539372e-17,2.723623e-16,6.774104e-17,2.952815e-16,4.863459e-17
std,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00,1.000031e+00
min,-4.384710e+00,-2.506882e+00,-1.091476e+00,-1.137121e+00,-2.332516e+00,-1.239486e+00,-1.518993e+00,-1.692407e+00,-9.301334e-01,-1.789374e+00,-4.427460e-01,-2.586626e+00,-2.364451e+00
25%,-2.962376e-01,-5.081856e-01,-6.465226e-01,-6.584347e-01,-5.799735e-01,-7.113881e-01,-6.309616e-01,-6.303806e-01,-9.301334e-01,-5.851096e-01,-4.427460e-01,-3.726486e-01,-5.084605e-01
50%,1.943791e-01,1.580466e-01,-1.768493e-01,-2.329361e-01,6.412341e-02,-1.512845e-01,-1.235149e-01,-9.936750e-02,-2.275551e-01,2.658044e-02,-4.427460e-01,1.617597e-01,1.278791e-01
75%,5.925607e-01,6.910323e-01,4.519567e-01,3.160331e-01,6.414957e-01,4.589905e-01,4.640548e-01,5.434378e-01,4.081109e-01,6.621646e-01,-2.926559e-01,6.198240e-01,6.581620e-01
max,1.339151e+00,1.757004e+00,7.140166e+00,2.931710e+00,2.340931e+00,7.738175e+00,2.667442e+00,2.555698e+00,6.095649e+00,2.024131e+00,3.446547e+00,1.535953e+00,2.408096e+00

In [42]:
df6_2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.296238,0.445039,0.808134,-0.824134,-0.463137,1.453812,-0.263063,2.555698,-0.930133,-1.789374,-0.442746,0.876340,0.499077
1,0.592561,1.369378,-0.343145,-1.137121,1.406242,-0.341720,-1.100350,0.431646,0.826312,-0.835998,-0.442746,1.206146,1.453586
2,0.480572,1.046356,-0.405506,-0.798051,0.004207,-1.239486,0.574224,-0.984389,1.411794,0.117378,-0.442746,0.161760,0.339992
3,1.339151,-2.506882,-1.091476,2.931710,-1.482798,-1.239486,1.906272,-1.161394,-0.930133,1.547443,2.770950,-2.222869,-1.943344
4,-0.807297,0.335708,0.737778,-0.685028,-0.515064,2.251827,-0.588674,1.139663,-0.930133,-0.518206,-0.442746,0.711437,0.021822

In [129]:
from joblib import Parallel, delayed 
import joblib 
  
  
# Save the model as a pickle in a file 
#joblib.dump(m, 'filename.pkl') 
  
# Load the model from the file 
m = joblib.load('filename.pkl') 
  
# Use the loaded model to make predictions 
#knn_from_joblib.predict(X_test)

In [126]:
df6_2=df6_2.fillna(0)

In [127]:
df6_1=df6_2.to_numpy()

In [128]:
import numpy as np
np.any(np.isnan(df6_1))

False

In [32]:
np.argwhere(np.isnan(df6_1))

array([[   26,     7],
       [   26,     8],
       [   26,     9],
       [   29,     7],
       [   29,     8],
       [   29,     9],
       [   72,     7],
       [   72,     8],
       [   72,     9],
       [  131,     1],
       [  131,     2],
       [  131,     3],
       [  163,     7],
       [  163,     8],
       [  163,     9],
       [  178,     7],
       [  178,     8],
       [  178,     9],
       [  379,     7],
       [  379,     8],
       [  379,     9],
       [  420,     7],
       [  420,     8],
       [  420,     9],
       [  490,     7],
       [  490,     8],
       [  490,     9],
       [  561,     7],
       [  561,     8],
       [  561,     9],
       [  578,     7],
       [  578,     8],
       [  578,     9],
       [  633,     7],
       [  633,     8],
       [  633,     9],
       [  667,     7],
       [  667,     8],
       [  667,     9],
       [  685,     1],
       [  685,     2],
       [  685,     3],
       [  704,     1],
       [  704,     2],
       [  704,     3],
       [  723,     7],
       [  723,     8],
       [  723,     9],
       [  724,     1],
       [  724,     2],
       [  724,     3],
       [  776,     7],
       [  776,     8],
       [  776,     9],
       [  812,     4],
       [  812,     5],
       [  812,     6],
       [  812,     7],
       [  812,     8],
       [  812,     9],
       [  836,     1],
       [  836,     2],
       [  836,     3],
       [  842,     1],
       [  842,     2],
       [  842,     3],
       [  847,     7],
       [  847,     8],
       [  847,     9],
       [  848,     4],
       [  848,     5],
       [  848,     6],
       [  848,     7],
       [  848,     8],
       [  848,     9],
       [  867,     7],
       [  867,     8],
       [  867,     9],
       [  876,     1],
       [  876,     2],
       [  876,     3],
       [  911,     7],
       [  911,     8],
       [  911,     9],
       [  913,     1],
       [  913,     2],
       [  913,     3],
       [  929,     1],
       [  929,     2],
       [  929,     3],
       [  954,     1],
       [  954,     2],
       [  954,     3],
       [  956,     7],
       [  956,     8],
       [  956,     9],
       [  988,     7],
       [  988,     8],
       [  988,     9],
       [ 1006,     7],
       [ 1006,     8],
       [ 1006,     9],
       [ 1078,     7],
       [ 1078,     8],
       [ 1078,     9],
       [ 1081,     7],
       [ 1081,     8],
       [ 1081,     9],
       [ 1116,     7],
       [ 1116,     8],
       [ 1116,     9],
       [ 1125,     7],
       [ 1125,     8],
       [ 1125,     9],
       [ 1131,     4],
       [ 1131,     5],
       [ 1131,     6],
       [ 1131,     7],
       [ 1131,     8],
       [ 1131,     9],
       [ 1145,     7],
       [ 1145,     8],
       [ 1145,     9],
       [ 1176,     7],
       [ 1176,     8],
       [ 1176,     9],
       [ 1177,     7],
       [ 1177,     8],
       [ 1177,     9],
       [ 1209,     4],
       [ 1209,     5],
       [ 1209,     6],
       [ 1209,     7],
       [ 1209,     8],
       [ 1209,     9],
       [ 1225,     1],
       [ 1225,     2],
       [ 1225,     3],
       [ 1228,     1],
       [ 1228,     2],
       [ 1228,     3],
       [ 1229,     7],
       [ 1229,     8],
       [ 1229,     9],
       [ 1231,     7],
       [ 1231,     8],
       [ 1231,     9],
       [ 1320,     7],
       [ 1320,     8],
       [ 1320,     9],
       [ 1321,     4],
       [ 1321,     5],
       [ 1321,     6],
       [ 1321,     7],
       [ 1321,     8],
       [ 1321,     9],
       [ 1345,     7],
       [ 1345,     8],
       [ 1345,     9],
       [ 1373,     7],
       [ 1373,     8],
       [ 1373,     9],
       [ 1391,     7],
       [ 1391,     8],
       [ 1391,     9],
       [ 1443,     4],
       [ 1443,     5],
       [ 1443,     6],
       [ 1443,     7],
       [ 1443,     8],
       [ 1443,     9],
       [ 1459,     4],
       [ 1459,     5],
       [ 1459,     6],
       [ 1459,     7],
       [ 1459,     8],
       [ 1459,     9],
       [ 1576,     7],
       [ 1576,     8],
       [ 1576,     9],
       [ 1583,     7],
       [ 1583,     8],
       [ 1583,     9],
       [ 1602,     7],
       [ 1602,     8],
       [ 1602,     9],
       [ 1619,     7],
       [ 1619,     8],
       [ 1619,     9],
       [ 1622,     7],
       [ 1622,     8],
       [ 1622,     9],
       [ 1640,     1],
       [ 1640,     2],
       [ 1640,     3],
       [ 1657,     7],
       [ 1657,     8],
       [ 1657,     9],
       [ 1672,     7],
       [ 1672,     8],
       [ 1672,     9],
       [ 1762,     7],
       [ 1762,     8],
       [ 1762,     9],
       [ 1782,     7],
       [ 1782,     8],
       [ 1782,     9],
       [ 1818,     7],
       [ 1818,     8],
       [ 1818,     9],
       [ 1838,     7],
       [ 1838,     8],
       [ 1838,     9],
       [ 1967,     7],
       [ 1967,     8],
       [ 1967,     9],
       [ 2021,     7],
       [ 2021,     8],
       [ 2021,     9],
       [ 2089,     7],
       [ 2089,     8],
       [ 2089,     9],
       [ 2109,     1],
       [ 2109,     2],
       [ 2109,     3],
       [ 2148,     7],
       [ 2148,     8],
       [ 2148,     9],
       [ 2170,     7],
       [ 2170,     8],
       [ 2170,     9],
       [ 2224,     7],
       [ 2224,     8],
       [ 2224,     9],
       [ 2286,     7],
       [ 2286,     8],
       [ 2286,     9],
       [ 2319,     7],
       [ 2319,     8],
       [ 2319,     9],
       [ 2367,     7],
       [ 2367,     8],
       [ 2367,     9],
       [ 2495,     7],
       [ 2495,     8],
       [ 2495,     9],
       [ 2597,     7],
       [ 2597,     8],
       [ 2597,     9],
       [ 2806,     7],
       [ 2806,     8],
       [ 2806,     9],
       [ 2809,     7],
       [ 2809,     8],
       [ 2809,     9],
       [ 2983,     7],
       [ 2983,     8],
       [ 2983,     9],
       [ 3134,     7],
       [ 3134,     8],
       [ 3134,     9],
       [ 3560,     7],
       [ 3560,     8],
       [ 3560,     9],
       [ 3598,     7],
       [ 3598,     8],
       [ 3598,     9],
       [ 3641,     7],
       [ 3641,     8],
       [ 3641,     9],
       [ 4227,     7],
       [ 4227,     8],
       [ 4227,     9],
       [ 4403,     7],
       [ 4403,     8],
       [ 4403,     9],
       [ 4558,     1],
       [ 4558,     2],
       [ 4558,     3],
       [ 5771,     7],
       [ 5771,     8],
       [ 5771,     9],
       [ 6211,     7],
       [ 6211,     8],
       [ 6211,     9],
       [ 6379,     7],
       [ 6379,     8],
       [ 6379,     9],
       [ 6663,     7],
       [ 6663,     8],
       [ 6663,     9],
       [ 6976,     7],
       [ 6976,     8],
       [ 6976,     9],
       [ 7250,     4],
       [ 7250,     5],
       [ 7250,     6],
       [ 7250,     7],
       [ 7250,     8],
       [ 7250,     9],
       [ 7252,     1],
       [ 7252,     2],
       [ 7252,     3],
       [ 7748,     1],
       [ 7748,     2],
       [ 7748,     3],
       [ 8016,     7],
       [ 8016,     8],
       [ 8016,     9],
       [ 8151,     7],
       [ 8151,     8],
       [ 8151,     9],
       [ 9686,     7],
       [ 9686,     8],
       [ 9686,     9],
       [ 9860,     7],
       [ 9860,     8],
       [ 9860,     9],
       [11438,     7],
       [11438,     8],
       [11438,     9],
       [12323,     4],
       [12323,     5],
       [12323,     6],
       [12323,     7],
       [12323,     8],
       [12323,     9],
       [12348,     7],
       [12348,     8],
       [12348,     9]])

In [130]:
pred=m.predict(df6_1)

In [131]:
pred

array([3, 3, 2, ..., 3, 0, 0], dtype=int32)

In [188]:
df6['pred']=pred
df6['pred'].value_counts()

pred
2    6828
4    2868
3    2634
1    2313
0    1720
Name: count, dtype: int64

In [50]:
df6[df6['pred']==0].head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred
id1,,,,,,,,,,,,,,
63627c74ebd62fc378ced962,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0
638a1699430ed352525beece,68.750000,14.285714,5.714286,80.000000,8.823529,2.941176,88.235294,14.285714,9.523810,76.190476,43.037975,10.126582,6.962025,0
63922a20b36b5d51d3abd2ae,56.666667,11.764706,20.588235,67.647059,32.432432,10.810811,56.756757,5.263158,10.526316,84.210526,29.133858,23.622047,13.385827,0
63a72670869dc38b36e629fd,25.000000,3.225806,3.225806,93.548387,0.000000,5.000000,95.000000,0.000000,0.000000,100.000000,48.275862,2.298851,0.574713,0
63b0543d1f48cc8a94041d48,51.851852,20.000000,17.142857,62.857143,13.888889,16.666667,69.444444,10.526316,5.263158,84.210526,29.133858,21.259843,11.023622,0

In [108]:
df22.head()

,_id,userId,testId,notVisited,subjects,questions,timeTravel,subjectMovement,halfAnalysis,fullAnalysis,__v
0,62a615351ed36c04de22cae7,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,0,[{'painfulQuestions': [{'$oid': '62a41b00acc3c...,"[{'_id': {'$oid': '62a615351ed36c04de22cae9'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb02'},...","[{'_id': {'$oid': '62a615351ed36c04de22cb03'},...",,,0
1,62af04539011c8495db99872,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,0,[{'painfulQuestions': [{'$oid': '62ab299c44ccb...,"[{'_id': {'$oid': '62af04539011c8495db99874'},...","[{'_id': {'$oid': '62af04539011c8495db9988d'},...","[{'_id': {'$oid': '62af04539011c8495db9988e'},...",,,0
2,6342cea5c09d95e0e99f9e8b,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,0,[{'painfulQuestions': [{'$oid': '617aaa1eef3fe...,"[{'_id': {'$oid': '6342cea5c09d95e0e99f9e8d'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9eab'},...","[{'_id': {'$oid': '6342cea5c09d95e0e99f9ead'},...",,,0
3,63627c74ebd62fc378ced962,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,14,"[{'painfulQuestions': [], 'missedConcepts': []...","[{'_id': {'$oid': '63627c74ebd62fc378ced964'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced978'},...","[{'_id': {'$oid': '63627c74ebd62fc378ced979'},...",,,0
4,63674f2475aa7bc3d7bff510,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,0,[{'painfulQuestions': [{'$oid': '617aa9eaef3fe...,"[{'_id': {'$oid': '63674f2475aa7bc3d7bff512'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff530'},...","[{'_id': {'$oid': '63674f2475aa7bc3d7bff532'},...",,,0

In [189]:
df6=df6.merge(df22[['userId','testId','_id']],how='left',left_index=True,right_on='_id')
df6.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510

In [76]:
df6.groupby(['userId']).first()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,_id
userId,,,,,,,,,,,,,,,
62a5b3562f2c8edf02cd8f28,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a615351ed36c04de22cae7
62fa83240a17af8738a2c04a,25.000000,3.225806,3.225806,93.548387,0.000000,5.000000,95.000000,0.000000,0.000000,100.000000,48.275862,2.298851,0.574713,0,63a72670869dc38b36e629fd
63301744aae5e0e0ca524661,64.000000,28.571429,21.428571,50.000000,29.166667,16.666667,54.166667,31.250000,12.500000,56.250000,0.000000,46.296296,29.629630,4,64310cdc834b868e5c8d5593
6342b29ce77795e149e62052,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342cea5c09d95e0e99f9e8b
63542c772ef4ea103afdf799,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63627c74ebd62fc378ced962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65f5a72ae513591ab3116b3b,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,100.000000,0.000000,0.000000,100.000000,48.571429,0.000000,0.000000,0,65f5a7c2312dad1c030b2e78
65f82a38c62c0f1aa2b68842,82.812500,77.419355,3.225806,19.354839,50.000000,18.421053,31.578947,47.619048,14.285714,38.095238,0.000000,71.111111,58.888889,2,65f84a53312dad1c032a3e7a
65fbc0fbf534461a83b2b654,79.687500,70.967742,16.129032,12.903226,55.263158,13.157895,31.578947,38.095238,14.285714,47.619048,0.000000,71.111111,56.666667,2,660c19617b9ffffc323fa15a
65fbf2970160d51b03229a90,83.333333,70.000000,6.666667,23.333333,47.500000,12.500000,40.000000,25.000000,10.000000,65.000000,6.250000,56.250000,46.875000,2,65fdd3459bb2cc1b932e4051
65fd780dc428001b33cb6c62,70.588235,51.612903,16.129032,32.258065,31.578947,21.052632,47.368421,38.095238,9.523810,52.380952,12.621359,49.514563,34.951456,4,65ff49e2c56f3d1a8a887de2

In [5]:
with open('strapi-admin-panel.basic_analyses_aprilpred.json') as outf:
    df=json.load(outf)
df7=pd.DataFrame.from_dict(df)
df7.head()

,_id,testId,userId,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v
0,{'$oid': '6604b8a7d0e3211afb33113b'},{'$oid': '65b21c7cacca0541e9d3907c'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '6604b8a7d0e3211afb33113c'},...","[{'_id': {'$oid': '6604b8a7d0e3211afb3311c9'},...",10370,173.0,57,46,80.701754,{'$date': '2024-03-28T00:24:07.145Z'},0
1,{'$oid': '65ffff177ac3331a9bac927b'},{'$oid': '65b21c7cacca0541e9d39092'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65ffff177ac3331a9bac927c'},...","[{'_id': {'$oid': '65ffff177ac3331a9bac92ff'},...",10244,136.0,44,36,81.818182,{'$date': '2024-03-24T10:23:19.182Z'},0
2,{'$oid': '65fc6e02c56f3d1a8a615830'},{'$oid': '65b21c7cacca0541e9d3908c'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65fc6e02c56f3d1a8a615831'},...","[{'_id': {'$oid': '65fc6e02c56f3d1a8a6158b9'},...",10265,116.0,49,33,67.346939,{'$date': '2024-03-21T17:27:30.745Z'},0
3,{'$oid': '65f976cec62c0f1aa2c60c29'},{'$oid': '65b21c7cacca0541e9d3908a'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65f976cec62c0f1aa2c60c2a'},...","[{'_id': {'$oid': '65f976cec62c0f1aa2c60cad'},...",9393,107.0,48,31,64.583333,{'$date': '2024-03-19T11:28:14.338Z'},0
4,{'$oid': '65f5bbc5c56f3d1a8a0dcc55'},{'$oid': '65b220a9acca0541e9d390ba'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65f5bbc5c56f3d1a8a0dcc56'},...","[{'_id': {'$oid': '65f5bbc5c56f3d1a8a0dccc2'},...",4228,41.0,14,11,78.571429,{'$date': '2024-03-16T15:33:25.460Z'},0

In [6]:
df7['_id1']=df7['_id'].apply(lambda x:x.get('$oid'))
df7['testid1']=df7['testId'].apply(lambda x:x.get('$oid'))
df7['userid1']=df7['userId'].apply(lambda x:x.get('$oid'))
df7.head()

,_id,testId,userId,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v,_id1,testid1,userid1
0,{'$oid': '6604b8a7d0e3211afb33113b'},{'$oid': '65b21c7cacca0541e9d3907c'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '6604b8a7d0e3211afb33113c'},...","[{'_id': {'$oid': '6604b8a7d0e3211afb3311c9'},...",10370,173.0,57,46,80.701754,{'$date': '2024-03-28T00:24:07.145Z'},0,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
1,{'$oid': '65ffff177ac3331a9bac927b'},{'$oid': '65b21c7cacca0541e9d39092'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65ffff177ac3331a9bac927c'},...","[{'_id': {'$oid': '65ffff177ac3331a9bac92ff'},...",10244,136.0,44,36,81.818182,{'$date': '2024-03-24T10:23:19.182Z'},0,65ffff177ac3331a9bac927b,65b21c7cacca0541e9d39092,62a5b3562f2c8edf02cd8f28
2,{'$oid': '65fc6e02c56f3d1a8a615830'},{'$oid': '65b21c7cacca0541e9d3908c'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65fc6e02c56f3d1a8a615831'},...","[{'_id': {'$oid': '65fc6e02c56f3d1a8a6158b9'},...",10265,116.0,49,33,67.346939,{'$date': '2024-03-21T17:27:30.745Z'},0,65fc6e02c56f3d1a8a615830,65b21c7cacca0541e9d3908c,62a5b3562f2c8edf02cd8f28
3,{'$oid': '65f976cec62c0f1aa2c60c29'},{'$oid': '65b21c7cacca0541e9d3908a'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65f976cec62c0f1aa2c60c2a'},...","[{'_id': {'$oid': '65f976cec62c0f1aa2c60cad'},...",9393,107.0,48,31,64.583333,{'$date': '2024-03-19T11:28:14.338Z'},0,65f976cec62c0f1aa2c60c29,65b21c7cacca0541e9d3908a,62a5b3562f2c8edf02cd8f28
4,{'$oid': '65f5bbc5c56f3d1a8a0dcc55'},{'$oid': '65b220a9acca0541e9d390ba'},{'$oid': '62a5b3562f2c8edf02cd8f28'},False,"[{'_id': {'$oid': '65f5bbc5c56f3d1a8a0dcc56'},...","[{'_id': {'$oid': '65f5bbc5c56f3d1a8a0dccc2'},...",4228,41.0,14,11,78.571429,{'$date': '2024-03-16T15:33:25.460Z'},0,65f5bbc5c56f3d1a8a0dcc55,65b220a9acca0541e9d390ba,62a5b3562f2c8edf02cd8f28

In [7]:
df7.drop(['_id','userId','testId'],axis=1,inplace=True)
df7.head()

,isBonusAttempted,sections,subjects,totalTimeTaken,totalMarkScored,totalAttempted,totalCorrect,accuracy,submittedAt,__v,_id1,testid1,userid1
0,False,"[{'_id': {'$oid': '6604b8a7d0e3211afb33113c'},...","[{'_id': {'$oid': '6604b8a7d0e3211afb3311c9'},...",10370,173.0,57,46,80.701754,{'$date': '2024-03-28T00:24:07.145Z'},0,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
1,False,"[{'_id': {'$oid': '65ffff177ac3331a9bac927c'},...","[{'_id': {'$oid': '65ffff177ac3331a9bac92ff'},...",10244,136.0,44,36,81.818182,{'$date': '2024-03-24T10:23:19.182Z'},0,65ffff177ac3331a9bac927b,65b21c7cacca0541e9d39092,62a5b3562f2c8edf02cd8f28
2,False,"[{'_id': {'$oid': '65fc6e02c56f3d1a8a615831'},...","[{'_id': {'$oid': '65fc6e02c56f3d1a8a6158b9'},...",10265,116.0,49,33,67.346939,{'$date': '2024-03-21T17:27:30.745Z'},0,65fc6e02c56f3d1a8a615830,65b21c7cacca0541e9d3908c,62a5b3562f2c8edf02cd8f28
3,False,"[{'_id': {'$oid': '65f976cec62c0f1aa2c60c2a'},...","[{'_id': {'$oid': '65f976cec62c0f1aa2c60cad'},...",9393,107.0,48,31,64.583333,{'$date': '2024-03-19T11:28:14.338Z'},0,65f976cec62c0f1aa2c60c29,65b21c7cacca0541e9d3908a,62a5b3562f2c8edf02cd8f28
4,False,"[{'_id': {'$oid': '65f5bbc5c56f3d1a8a0dcc56'},...","[{'_id': {'$oid': '65f5bbc5c56f3d1a8a0dccc2'},...",4228,41.0,14,11,78.571429,{'$date': '2024-03-16T15:33:25.460Z'},0,65f5bbc5c56f3d1a8a0dcc55,65b220a9acca0541e9d390ba,62a5b3562f2c8edf02cd8f28

In [8]:
df8=pd.DataFrame([tuple(list(d.values()))+(tup._11,tup.testid1,tup.userid1) for tup in df7.itertuples() for d in tup.sections])
df8.columns=list(df7['sections'][0][0].keys())+['id1','testid','userdid']
df8.head()

,_id,sectionId,questions,analysis,id1,testid,userdid
0,{'$oid': '6604b8a7d0e3211afb33113c'},{'$oid': '65d8d666ea0e0673ca350518'},"[{'_id': {'$oid': '6604b8a7d0e3211afb33113d'},...","{'totalTimeTaken': 3010, 'totalMarkScored': 44...",6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
1,{'$oid': '6604b8a7d0e3211afb331161'},{'$oid': '65d8d666ea0e0673ca350595'},"[{'_id': {'$oid': '6604b8a7d0e3211afb331162'},...","{'totalTimeTaken': 1113, 'totalMarkScored': 20...",6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
2,{'$oid': '6604b8a7d0e3211afb33116c'},{'$oid': '65d8d667ea0e0673ca35068a'},"[{'_id': {'$oid': '6604b8a7d0e3211afb33116d'},...","{'totalTimeTaken': 2168, 'totalMarkScored': 57...",6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
3,{'$oid': '6604b8a7d0e3211afb331193'},{'$oid': '65d8d667ea0e0673ca350707'},"[{'_id': {'$oid': '6604b8a7d0e3211afb331194'},...","{'totalTimeTaken': 1221, 'totalMarkScored': 15...",6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
4,{'$oid': '6604b8a7d0e3211afb33119e'},{'$oid': '65d8d667ea0e0673ca3507fc'},"[{'_id': {'$oid': '6604b8a7d0e3211afb33119f'},...","{'totalTimeTaken': 2590, 'totalMarkScored': 29...",6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28

In [76]:
df9=pd.DataFrame([tuple(list(d.values()))+(tup.id1,tup.testid,tup.userdid) for tup in df8.itertuples() for d in tup.questions])
df9.columns=list(df8['questions'][0][0].keys())+['id1','testid','userdid']
df9.head()

,_id,questionId,markedOptions,inputValue,timeTaken,timeLeftWhenAttempted,status,id1,testid,userdid
0,{'$oid': '6604b8a7d0e3211afb33113d'},{'$oid': '65d8d666ea0e0673ca3504b1'},"[{'_id': {'$oid': '6604b8a7d0e3211afb33113e'},...","{'value': None, 'isCorrect': False}",142.0,178,answered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
1,{'$oid': '6604b8a7d0e3211afb33113f'},{'$oid': '65d8d666ea0e0673ca3504b6'},"[{'_id': {'$oid': '6604b8a7d0e3211afb331140'},...","{'value': None, 'isCorrect': False}",179.0,14,answered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
2,{'$oid': '6604b8a7d0e3211afb331141'},{'$oid': '65d8d666ea0e0673ca3504bb'},"[{'_id': {'$oid': '6604b8a7d0e3211afb331142'},...","{'value': None, 'isCorrect': False}",132.0,174,answered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
3,{'$oid': '6604b8a7d0e3211afb331143'},{'$oid': '65d8d666ea0e0673ca3504c0'},"[{'_id': {'$oid': '6604b8a7d0e3211afb331144'},...","{'value': None, 'isCorrect': False}",132.0,10,answered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28
4,{'$oid': '6604b8a7d0e3211afb331145'},{'$oid': '65d8d666ea0e0673ca3504c5'},"[{'_id': {'$oid': '6604b8a7d0e3211afb331146'},...","{'value': None, 'isCorrect': False}",167.0,171,answered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28

In [77]:
a13=pd.Series([type(x) for x in df9['inputValue']]).unique()
df9['ty1']=[type(x) for x in df9['inputValue']]

In [41]:
df9_1=df9[df9['ty1']==a13[1]]

In [42]:
df9_1.head()

,_id,questionId,markedOptions,inputValue,timeTaken,timeLeftWhenAttempted,status,id1,testid,userdid,ty1
42472,{'$oid': '648dadd876efa92202a6d44d'},{'$oid': '6438289bf9c2e9ce9ed3f3c4'},"[{'_id': {'$oid': '648dadd876efa92202a6d44e'},...",7,1.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,None,<class 'int'>
42473,{'$oid': '648dadd876efa92202a6d44f'},{'$oid': '6438289bf9c2e9ce9ed3f3c9'},"[{'_id': {'$oid': '648dadd876efa92202a6d450'},...",83,14.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,None,<class 'int'>
42474,{'$oid': '648dadd876efa92202a6d451'},{'$oid': '6438289bf9c2e9ce9ed3f3ce'},"[{'_id': {'$oid': '648dadd876efa92202a6d452'},...",30,14.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,None,<class 'int'>
42475,{'$oid': '648dadd876efa92202a6d454'},{'$oid': '6438289bf9c2e9ce9ed3f3ed'},"[{'_id': {'$oid': '648dadd876efa92202a6d455'},...",24,1.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,None,<class 'int'>
42476,{'$oid': '648dadd876efa92202a6d456'},{'$oid': '6438289bf9c2e9ce9ed3f3f2'},[],0,1.0,notAnswered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,None,<class 'int'>

In [78]:
df9.loc[df9['ty1']==a13[1],['inputValue','timeTaken','timeLeftWhenAttempted','status','id1','testid','userdid']]=df9.loc[df9['ty1']==a13[1],['inputValue','timeTaken','timeLeftWhenAttempted','status','id1','testid','userdid']].shift(1,axis=1)

/var/folders/vr/2kzmkbl5167_gtmslwch1dtw0000gn/T/ipykernel_73493/2599898340.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[7 83 30 ... 510 13 132]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df9.loc[df9['ty1']==a13[1],['inputValue','timeTaken','timeLeftWhenAttempted','status','id1','testid','userdid']]=df9.loc[df9['ty1']==a13[1],['inputValue','timeTaken','timeLeftWhenAttempted','status','id1','testid','userdid']].shift(1,axis=1)

In [65]:
set([type(x) for x in df9['inputValue']])

{dict, str}

In [79]:
df9['inputValue'].replace(to_replace=[None],value=[{'value':'Hello'}],inplace=True)

/var/folders/vr/2kzmkbl5167_gtmslwch1dtw0000gn/T/ipykernel_73493/1620196301.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df9['inputValue'].replace(to_replace=[None],value=[{'value':'Hello'}],inplace=True)

In [80]:
df9[df9['ty1']==a13[1]]

,_id,questionId,markedOptions,inputValue,timeTaken,timeLeftWhenAttempted,status,id1,testid,userdid,ty1
42472,{'$oid': '648dadd876efa92202a6d44d'},{'$oid': '6438289bf9c2e9ce9ed3f3c4'},"[{'_id': {'$oid': '648dadd876efa92202a6d44e'},...",{'value': 'Hello'},7,1.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,<class 'int'>
42473,{'$oid': '648dadd876efa92202a6d44f'},{'$oid': '6438289bf9c2e9ce9ed3f3c9'},"[{'_id': {'$oid': '648dadd876efa92202a6d450'},...",{'value': 'Hello'},83,14.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,<class 'int'>
42474,{'$oid': '648dadd876efa92202a6d451'},{'$oid': '6438289bf9c2e9ce9ed3f3ce'},"[{'_id': {'$oid': '648dadd876efa92202a6d452'},...",{'value': 'Hello'},30,14.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,<class 'int'>
42475,{'$oid': '648dadd876efa92202a6d454'},{'$oid': '6438289bf9c2e9ce9ed3f3ed'},"[{'_id': {'$oid': '648dadd876efa92202a6d455'},...",{'value': 'Hello'},24,1.0,answered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,<class 'int'>
42476,{'$oid': '648dadd876efa92202a6d456'},{'$oid': '6438289bf9c2e9ce9ed3f3f2'},[],{'value': 'Hello'},0,1.0,notAnswered,648dadd876efa92202a6d343,63b2add65724aa57599b5a31,63d2a2ab049d05b938721986,<class 'int'>
...,...,...,...,...,...,...,...,...,...,...,...
1124902,{'$oid': '6643cdeb84d4ccd474b23d58'},{'$oid': '65ce2e8e427837fff8cb9b23'},[],{'value': 'Hello'},220,2.0,notAnswered,6643cdeb84d4ccd474b23c3e,64cd2de3a5fe786f7fe1ef92,65fbc0fbf534461a83b2b654,<class 'int'>
1124903,{'$oid': '6643cdeb84d4ccd474b23d59'},{'$oid': '65ce2e8e427837fff8cb9b28'},"[{'_id': {'$oid': '6643cdeb84d4ccd474b23d5a'},...",{'value': 'Hello'},24,21.0,answered,6643cdeb84d4ccd474b23c3e,64cd2de3a5fe786f7fe1ef92,65fbc0fbf534461a83b2b654,<class 'int'>
1124904,{'$oid': '6643cdeb84d4ccd474b23d5c'},{'$oid': '65ce2e8e427837fff8cb9b47'},"[{'_id': {'$oid': '6643cdeb84d4ccd474b23d5d'},...",{'value': 'Hello'},510,4.0,answered,6643cdeb84d4ccd474b23c3e,64cd2de3a5fe786f7fe1ef92,65fbc0fbf534461a83b2b654,<class 'int'>
1124905,{'$oid': '6643cdeb84d4ccd474b23d5e'},{'$oid': '65ce2e8e427837fff8cb9b4c'},[],{'value': 'Hello'},13,4.0,notAnswered,6643cdeb84d4ccd474b23c3e,64cd2de3a5fe786f7fe1ef92,65fbc0fbf534461a83b2b654,<class 'int'>
1124906,{'$oid': '6643cdeb84d4ccd474b23d5f'},{'$oid': '65ce2e8e427837fff8cb9b51'},"[{'_id': {'$oid': '6643cdeb84d4ccd474b23d60'},...",{'value': 'Hello'},132,12.0,answered,6643cdeb84d4ccd474b23c3e,64cd2de3a5fe786f7fe1ef92,65fbc0fbf534461a83b2b654,<class 'int'>

In [ ]:
df9_1

In [33]:
df9_1['testid'].nunique()

39

In [86]:
a12=[]
for i in df9.itertuples():
    if len(i.markedOptions)==0:
        if i.inputValue.get('value')=='Hello' and (i.status=='notAnswered' or i.status=='markedReview'):
            a12.append(-1)
        else:
            if i.inputValue.get('isCorrect')==False:
                a12.append(0)
            else:
                a12.append(1)
        
    else:
        #df6.loc[i.Index,'status']='answered'
        if i.markedOptions[0].get('isCorrect')==True:
            a12.append(1)
        else:
            a12.append(0)
df9['hans']=a12

In [82]:
with open('strapi-admin-panel.questions_main.json') as outf:
    df=json.load(outf)
pd.set_option('display.max_columns',None)
df10=pd.DataFrame.from_dict(df)
df10.head()

,_id,classes,exams,subjects,chapters,topics,concepts,previousYearPapers,masterId,position,type,level,approximateTimeRequired,question,options,correctValue,solution,videoSolution,numericalUpperLimit,numericalLowerLimit,questionLabels,__v,createdAt,updatedAt,category,updated_by
0,{'$oid': '65742f2699fd55951d1a3b4d'},[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],[{'$oid': '607018ee404ae53194e73d90'}],[{'$oid': '60c9e849ea076dc381c0df7b'}],[{'$oid': '6117b651478ae845c43c6921'}],[{'$oid': '6117b64d478ae845c43c6841'}],[],,0,singleCorrect,2,120,"{'text': 'Two blocks of masses <math xmlns=""h...","[{'_id': {'$oid': '65742f2699fd55951d1a3b4e'},...",,"{'text': '<p>Displacement of centre of mass,&n...",d4978382d55341c1ab1ee195f2e2b150,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.253Z'},{'$date': '2024-04-05T20:00:59.436Z'},NaN,NaN
1,{'$oid': '65742f2699fd55951d1a3b52'},[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],[{'$oid': '607018ee404ae53194e73d90'}],[{'$oid': '60d2d1d2185d7a32fa3205a7'}],[{'$oid': '60e2fb1f66f9ce3f243b4b69'}],[{'$oid': '617aa9dfef3fe65ad8e82f7a'}],[],,0,singleCorrect,2,120,"{'text': '<p>Statement <math xmlns=""http://www...","[{'_id': {'$oid': '65742f2699fd55951d1a3b53'},...",,"{'text': '<p><img src=""https://cdn.quizrr.in/q...",fbb18277611d472c87d25973db440b3e,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.254Z'},{'$date': '2024-04-05T20:00:59.908Z'},NaN,NaN
2,{'$oid': '65742f2699fd55951d1a3b57'},[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],[{'$oid': '607018ee404ae53194e73d90'}],[{'$oid': '60c9e849ea076dc381c0dfa9'}],[{'$oid': '6117b5e5478ae845c43c5e84'}],[{'$oid': '60e2fb1f66f9ce3f243b4b1e'}],[],,0,singleCorrect,1,90,{'text': '<p>The stress versus strain graphs f...,"[{'_id': {'$oid': '65742f2699fd55951d1a3b58'},...",,"{'text': 'Material <math xmlns=""http://www.w3....",aeadece9062f494f999dcb9b8ea27945,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.256Z'},{'$date': '2024-04-05T20:01:00.406Z'},NaN,NaN
3,{'$oid': '65742f2699fd55951d1a3b5c'},[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],[{'$oid': '607018ee404ae53194e73d90'}],[{'$oid': '60da9b5062f042332c538358'}],[{'$oid': '60da9b4f62f042332c538326'}],[{'$oid': '60e5678c499d1e49588f925c'}],[],,0,singleCorrect,2,120,{'text': '<p>A given ray of light suffers mini...,"[{'_id': {'$oid': '65742f2699fd55951d1a3b5d'},...",,"{'text': '<p><img src=""https://cdn.quizrr.in/q...",3f97db9df9484e6fa11272f38ef7812e,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.257Z'},{'$date': '2024-04-05T20:01:00.865Z'},NaN,NaN
4,{'$oid': '65742f2699fd55951d1a3b61'},[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],[{'$oid': '607018ee404ae53194e73d90'}],[{'$oid': '60e2fadb66f9ce3f243b4798'}],[{'$oid': '60e567c5499d1e49588f9963'}],[{'$oid': '60e567c3499d1e49588f9942'}],[],,0,singleCorrect,1,90,{'text': 'The output $Y$ of the logic circuit ...,"[{'_id': {'$oid': '65742f2699fd55951d1a3b62'},...",,"{'text': '<br /><img src=""https://cdn.quizrr.i...",68125ddc545d4d06841b5c8637938bd4,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.258Z'},{'$date': '2024-04-05T20:01:01.305Z'},NaN,NaN

In [83]:
df10['subjects']=df10['subjects'].apply(lambda x:x[0].get('$oid'))
df10['_id']=df10['_id'].apply(lambda x:x.get('$oid'))
df10.head()

,_id,classes,exams,subjects,chapters,topics,concepts,previousYearPapers,masterId,position,type,level,approximateTimeRequired,question,options,correctValue,solution,videoSolution,numericalUpperLimit,numericalLowerLimit,questionLabels,__v,createdAt,updatedAt,category,updated_by
0,65742f2699fd55951d1a3b4d,[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],607018ee404ae53194e73d90,[{'$oid': '60c9e849ea076dc381c0df7b'}],[{'$oid': '6117b651478ae845c43c6921'}],[{'$oid': '6117b64d478ae845c43c6841'}],[],,0,singleCorrect,2,120,"{'text': 'Two blocks of masses <math xmlns=""h...","[{'_id': {'$oid': '65742f2699fd55951d1a3b4e'},...",,"{'text': '<p>Displacement of centre of mass,&n...",d4978382d55341c1ab1ee195f2e2b150,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.253Z'},{'$date': '2024-04-05T20:00:59.436Z'},NaN,NaN
1,65742f2699fd55951d1a3b52,[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],607018ee404ae53194e73d90,[{'$oid': '60d2d1d2185d7a32fa3205a7'}],[{'$oid': '60e2fb1f66f9ce3f243b4b69'}],[{'$oid': '617aa9dfef3fe65ad8e82f7a'}],[],,0,singleCorrect,2,120,"{'text': '<p>Statement <math xmlns=""http://www...","[{'_id': {'$oid': '65742f2699fd55951d1a3b53'},...",,"{'text': '<p><img src=""https://cdn.quizrr.in/q...",fbb18277611d472c87d25973db440b3e,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.254Z'},{'$date': '2024-04-05T20:00:59.908Z'},NaN,NaN
2,65742f2699fd55951d1a3b57,[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],607018ee404ae53194e73d90,[{'$oid': '60c9e849ea076dc381c0dfa9'}],[{'$oid': '6117b5e5478ae845c43c5e84'}],[{'$oid': '60e2fb1f66f9ce3f243b4b1e'}],[],,0,singleCorrect,1,90,{'text': '<p>The stress versus strain graphs f...,"[{'_id': {'$oid': '65742f2699fd55951d1a3b58'},...",,"{'text': 'Material <math xmlns=""http://www.w3....",aeadece9062f494f999dcb9b8ea27945,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.256Z'},{'$date': '2024-04-05T20:01:00.406Z'},NaN,NaN
3,65742f2699fd55951d1a3b5c,[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],607018ee404ae53194e73d90,[{'$oid': '60da9b5062f042332c538358'}],[{'$oid': '60da9b4f62f042332c538326'}],[{'$oid': '60e5678c499d1e49588f925c'}],[],,0,singleCorrect,2,120,{'text': '<p>A given ray of light suffers mini...,"[{'_id': {'$oid': '65742f2699fd55951d1a3b5d'},...",,"{'text': '<p><img src=""https://cdn.quizrr.in/q...",3f97db9df9484e6fa11272f38ef7812e,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.257Z'},{'$date': '2024-04-05T20:01:00.865Z'},NaN,NaN
4,65742f2699fd55951d1a3b61,[],[{'$oid': '605dfcb2f226ac25a8bd5fef'}],607018ee404ae53194e73d90,[{'$oid': '60e2fadb66f9ce3f243b4798'}],[{'$oid': '60e567c5499d1e49588f9963'}],[{'$oid': '60e567c3499d1e49588f9942'}],[],,0,singleCorrect,1,90,{'text': 'The output $Y$ of the logic circuit ...,"[{'_id': {'$oid': '65742f2699fd55951d1a3b62'},...",,"{'text': '<br /><img src=""https://cdn.quizrr.i...",68125ddc545d4d06841b5c8637938bd4,NaN,NaN,[],0,{'$date': '2023-12-09T09:11:02.258Z'},{'$date': '2024-04-05T20:01:01.305Z'},NaN,NaN

In [84]:
df9['questionId']=df9['questionId'].apply(lambda x:x.get('$oid'))

In [87]:
df11=df9.merge(df10[['_id','subjects','type','level','approximateTimeRequired']],how='left',left_on='questionId',right_on='_id')
df11=df11.query("hans!=-1 or (status!='answered' and status!='answeredReview')")
df12=df11.query("hans==0 and (status=='notAnswered' or status=='markedReview')")
df12=df12.reset_index()
df12.head()

,index,_id_x,questionId,markedOptions,inputValue,timeTaken,timeLeftWhenAttempted,status,id1,testid,userdid,ty1,hans,_id_y,subjects,type,level,approximateTimeRequired
0,6,{'$oid': '6604b8a7d0e3211afb331149'},65d8d666ea0e0673ca3504cf,[],"{'value': '0', 'isCorrect': False}",107.0,10,notAnswered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28,<class 'dict'>,0,NaN,NaN,NaN,NaN,NaN
1,8,{'$oid': '6604b8a7d0e3211afb33114c'},65d8d666ea0e0673ca3504d9,[],"{'value': '0', 'isCorrect': False}",83.0,7,notAnswered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28,<class 'dict'>,0,NaN,NaN,NaN,NaN,NaN
2,9,{'$oid': '6604b8a7d0e3211afb33114d'},65d8d666ea0e0673ca3504de,[],"{'value': '0', 'isCorrect': False}",67.0,7,notAnswered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28,<class 'dict'>,0,NaN,NaN,NaN,NaN,NaN
3,16,{'$oid': '6604b8a7d0e3211afb33115a'},65d8d666ea0e0673ca350501,[],"{'value': None, 'isCorrect': False}",12.0,143,notAnswered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28,<class 'dict'>,0,NaN,NaN,NaN,NaN,NaN
4,21,{'$oid': '6604b8a7d0e3211afb331163'},65d8d666ea0e0673ca350565,[],"{'value': '', 'isCorrect': False}",7.0,131,notAnswered,6604b8a7d0e3211afb33113b,65b21c7cacca0541e9d3907c,62a5b3562f2c8edf02cd8f28,<class 'dict'>,0,NaN,NaN,NaN,NaN,NaN

In [88]:
df12['status']='answered'

In [89]:
df12.rename(columns={'index':'A'},inplace=True)

In [90]:
df11.loc[df11.index.isin(df12.A),['status']]=df12['status']
df11['ty']=[type(x) for x in df11['timeTaken']]
df11['ty'].value_counts()

ty
<class 'float'>    1124362
<class 'int'>         3456
Name: count, dtype: int64

In [91]:
#a13=df11['ty'].unique()
#ind=df11[df11['ty']==a13[1]].index
#df11.drop(ind,inplace=True)
df13=df11.groupby(['testid','userdid','subjects','type','status','hans'])[['timeTaken','approximateTimeRequired']].sum()
df13=df13.reset_index()

In [92]:
df13['nstat']=df13['status'].map({'notAnswered':0,'markedReview':0,'answered':1,'answeredReview':1,'notVisited':-1})
df13.head()

,testid,userdid,subjects,type,status,hans,timeTaken,approximateTimeRequired,nstat
0,641588b7ba53754de28c8935,63301744aae5e0e0ca524661,607018ee404ae53194e73d90,numerical,answered,0,988.0,960.0,1
1,641588b7ba53754de28c8935,63301744aae5e0e0ca524661,607018ee404ae53194e73d90,numerical,answered,1,329.0,330.0,1
2,641588b7ba53754de28c8935,63301744aae5e0e0ca524661,607018ee404ae53194e73d90,numerical,notVisited,0,0.0,150.0,-1
3,641588b7ba53754de28c8935,63301744aae5e0e0ca524661,607018ee404ae53194e73d90,singleCorrect,answered,0,119.0,120.0,1
4,641588b7ba53754de28c8935,63301744aae5e0e0ca524661,607018ee404ae53194e73d90,singleCorrect,answered,1,1659.0,2010.0,1

In [93]:
df111=df13.groupby(['userdid','testid'])['timeTaken'].sum()

In [95]:
df111=df111.reset_index()

In [96]:
df111.head()

                    userdid                    testid timeTaken
0  63301744aae5e0e0ca524661  641588b7ba53754de28c8935   10975.0
1  63301744aae5e0e0ca524661  641588b7ba53754de28c8937   11570.0
2  63301744aae5e0e0ca524661  641588b7ba53754de28c8939   10720.0
3  63301744aae5e0e0ca524661  641588b7ba53754de28c893b   10746.0
4  63301744aae5e0e0ca524661  641588b7ba53754de28c893d   10660.0

In [134]:
df6.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510

In [137]:
df6['userId'].nunique()

357

In [190]:
df6_1=df6.merge(df111,how='left',left_on=['userId','testId'],right_on=['userdid','testid'])
df6_1.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id,userdid,testid,timeTaken
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,NaN,NaN,NaN
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,NaN,NaN,NaN
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,NaN,NaN,NaN
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,NaN,NaN,NaN
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,NaN,NaN,NaN

In [191]:
df6_2=df6_1.query('timeTaken.notna() and timeTaken>=7200')

In [161]:
df6_2[df6_2['pred']==4].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,Your registered mobile number,Percentile
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.0,2.920000e+02,292.000000
mean,74.677262,50.868981,15.642432,33.488587,41.081192,14.046240,44.872568,23.861964,11.339604,64.798431,2.315484,53.114287,39.477649,4.0,8.709348e+09,99.217055
std,7.423485,8.063030,7.332961,8.434068,7.146747,6.522223,8.050041,9.425767,7.125314,9.818252,4.590639,5.382680,4.081603,0.0,8.922773e+08,0.195036
min,51.063830,29.411765,0.000000,15.625000,18.918919,0.000000,24.242424,0.000000,0.000000,28.571429,0.000000,30.392157,23.529412,4.0,6.202099e+09,99.003291
25%,70.370370,45.161290,9.677419,27.586207,36.529933,9.024064,39.267677,17.391304,5.000000,59.090909,0.000000,50.000000,36.884058,4.0,8.216263e+09,99.063502
50%,74.509804,50.000000,15.625000,32.258065,40.625000,13.888889,44.444444,23.809524,10.526316,65.217391,0.000000,54.444444,40.108696,4.0,8.737877e+09,99.143156
75%,79.591837,56.250000,20.000000,38.754480,45.945946,18.181818,50.000000,30.000000,15.485830,71.428571,2.173913,56.666667,42.222222,4.0,9.410664e+09,99.326694
max,97.297297,70.967742,35.483871,58.620690,61.111111,36.363636,72.500000,52.380952,30.434783,90.909091,25.619835,66.666667,45.555556,4.0,9.986196e+09,99.810758

In [162]:
df6_2[df6_2['pred']==3].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,Your registered mobile number,Percentile
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.0,1.060000e+02,106.000000
mean,88.389612,80.067432,7.635460,12.297108,69.061961,10.393889,20.544150,61.945290,10.286606,27.768104,0.555067,80.200602,70.847462,3.0,9.154319e+09,99.422466
std,4.445723,6.969327,5.034619,5.079444,6.497727,5.464327,4.833560,7.869320,6.501457,6.741086,1.325311,2.060823,3.197907,0.0,7.370489e+08,0.256198
min,76.000000,62.068966,0.000000,0.000000,51.351351,0.000000,7.894737,43.478261,0.000000,10.000000,0.000000,74.468085,63.333333,3.0,7.045186e+09,99.033136
25%,86.111111,75.000000,3.333333,9.375000,64.898649,5.555556,17.500000,57.142857,5.065789,23.809524,0.000000,78.888889,68.888889,3.0,8.826534e+09,99.170186
50%,88.000000,80.600358,6.666667,11.942959,69.444444,10.526316,20.000000,61.904762,9.761905,26.315789,0.000000,80.000000,71.111111,3.0,9.430047e+09,99.394364
75%,91.692759,84.375000,10.000000,16.129032,73.684211,13.157895,23.684211,66.666667,14.285714,31.818182,0.000000,82.222222,73.333333,3.0,9.737721e+09,99.670172
max,100.000000,96.969697,21.875000,25.000000,86.842105,27.777778,34.210526,80.952381,26.315789,41.666667,6.250000,83.333333,80.000000,3.0,9.971794e+09,99.876272

In [163]:
df6_2[df6_2['pred']==2].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,Your registered mobile number,Percentile
count,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.0,1.589000e+03,1589.000000
mean,82.945926,67.401461,11.732199,20.866340,55.884255,11.980850,32.134896,40.997785,10.906422,48.095793,1.062019,67.493555,55.953599,2.0,8.706199e+09,99.361892
std,5.650740,9.139192,6.286688,7.827395,8.742240,5.738862,8.519717,11.120310,7.193874,11.532298,2.568146,6.517814,6.394231,0.0,1.002627e+09,0.239841
min,69.642857,37.500000,0.000000,0.000000,28.947368,0.000000,11.111111,0.000000,0.000000,13.043478,0.000000,47.115385,41.228070,2.0,6.202099e+09,99.003291
25%,78.688525,61.290323,6.451613,15.625000,50.000000,7.894737,25.714286,33.333333,5.000000,40.000000,0.000000,62.637363,51.111111,2.0,7.978217e+09,99.143156
50%,82.812500,67.647059,11.111111,20.588235,55.555556,11.111111,31.707317,40.909091,10.000000,47.619048,0.000000,67.777778,55.555556,2.0,8.861261e+09,99.356052
75%,87.096774,73.333333,15.625000,25.806452,62.162162,15.625000,37.837838,47.826087,15.789474,55.555556,1.098901,72.222222,61.111111,2.0,9.623325e+09,99.525198
max,98.076923,96.774194,38.709677,50.000000,84.848485,33.333333,55.555556,76.190476,36.842105,100.000000,21.052632,83.333333,73.333333,2.0,9.980773e+09,99.932089

In [169]:
df6_2[df6_2['pred']==1].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,Your registered mobile number,Percentile
count,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.0,1.660000e+02,166.000000
mean,67.038201,56.499845,23.665162,19.834992,48.942193,22.647061,28.410746,33.323732,23.992552,42.683717,0.660270,70.709141,47.528333,1.0,8.586727e+09,99.314320
std,4.729650,10.072954,7.396269,7.817597,8.940966,6.379284,8.338015,10.682270,8.380954,11.304142,1.705355,6.197183,6.314851,0.0,1.172813e+09,0.205296
min,47.272727,31.250000,6.451613,3.333333,27.027027,9.375000,8.333333,13.043478,4.545455,19.047619,0.000000,55.208333,28.888889,1.0,6.202099e+09,99.003291
25%,64.406780,50.000000,18.750000,14.705882,43.243243,18.918919,22.644231,26.086957,19.047619,34.782609,0.000000,66.666667,43.333333,1.0,7.971965e+09,99.123238
50%,68.126984,58.064516,23.529412,19.052419,47.992424,21.921922,27.777778,32.575758,23.809524,42.105263,0.000000,70.000000,47.777778,1.0,8.919681e+09,99.394121
75%,70.564127,64.516129,28.125000,25.000000,55.197368,26.147099,34.583333,40.000000,30.000000,50.000000,0.000000,74.444444,51.111111,1.0,9.636864e+09,99.463438
max,74.666667,77.419355,46.875000,55.882353,78.125000,44.444444,52.500000,68.181818,50.000000,72.727273,10.891089,83.333333,62.222222,1.0,9.980773e+09,99.740167

In [151]:
df1_1_1.head()

      Your registered email id  Your registered mobile number  Percentile
0  priyanshujha.pj06@gmail.com                     8668606304   99.197164
1      vidhitalwar01@gmail.com                     8273002370   99.003291
2      upwordhill987@gmail.com                     9625497741   99.443676
3          rs.raag17@gmail.com                     9560806945   99.728357
4    maheshbarik2006@gmail.com                     8093378029   99.295775

In [147]:
df1_1.head()

,_id,settings,targetExams,FCM_TOKEN,notificationTopics,notifications,isWhatsAppNumber,isAllPacksAllowed,allowedPacks,userType,name,email,password,googleID,googleName,emailVerified,profilePicture,createdAt,updatedAt,__v,mobileNumber,examCategory,targetYear,isOnboardingDone,country,state,city,pincode,class,partialDropper,board,isOnboardingV2Done,lastSeenPack,instituteCode,preparationDetailsCompleted,preparationDetails
0,659e7914f31a489e0e120ecb,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5fef'}, {'$oid'...",[],[],[],True,False,[],student,ISHAAN TYAGI,09.ishaan.3700@gmail.com,$2b$07$zwpsSbgIQ73YjUryXenVMumKvXClXnMNbKWTYgx...,-pXF_REgIqHk7kTmm53Af,ISHAAN TYAGI,True,https://ui-avatars.com/api/?name=ISHAAN%20TYAGI,{'$date': '2024-01-10T11:01:40.866Z'},{'$date': '2024-05-05T11:54:26.648Z'},0,+919891599071,{'$oid': '605dfae41236ab2b5487e9f6'},{'$oid': '630e6c48bd0aa44bd075613e'},True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65a9f052c3d3af1fe919a4c5,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5fef'}, {'$oid'...",[],[],[],True,False,[],student,ABDUL AZEEM ANSARI,23abdulazeem23@gmail.com,$2b$07$6om.Ry9U4WvlikOhIlJENOgxWRZdG4GgeRVN9Kt...,2HcuNrtZfloIrbdic8V4d,ABDUL AZEEM ANSARI,True,https://ui-avatars.com/api/?name=ABDUL%20AZEEM...,{'$date': '2024-01-19T03:45:22.379Z'},{'$date': '2024-04-27T16:25:31.898Z'},0,+917017454135,{'$oid': '605dfae41236ab2b5487e9f6'},{'$oid': '630e6c48bd0aa44bd075613e'},True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,655cbdacb986585c9175e8e4,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5ff0'}, {'$oid'...",[],[],[],True,False,[],student,Rituraj,a01550583@gmail.com,$2b$07$kRUQezz8wv2TSyRFLfsMfeWJuaFPqautE/kjjsv...,afCzqo5wq9zg76kPDCo3K,Rituraj,True,https://ui-avatars.com/api/?name=Rituraj,{'$date': '2023-11-21T14:24:44.534Z'},{'$date': '2024-01-05T11:06:54.976Z'},1,+918986563298,{'$oid': '605dfae41236ab2b5487e9f6'},{'$oid': '630e6c48bd0aa44bd075613e'},True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6593d648ba0c875fa67a4a3f,"{'emails': True, 'importantEmails': True, 'imp...",[{'$oid': '605dfcb2f226ac25a8bd5ff0'}],[],[],[],False,False,[],student,Aarav Trivedi,aaravtrivedi.dpsv@gmail.com,$2b$07$KmLkjcx8DwJIn8bc9seDu.lFBiU5lk/NxbsEhSt...,_Fb0yU86O6hQSwgxa2PbF,Aarav Trivedi,True,https://ui-avatars.com/api/?name=Aarav%20Trivedi,{'$date': '2024-01-02T09:24:24.005Z'},{'$date': '2024-04-26T13:14:34.363Z'},0,+917984254084,{'$oid': '605dfae41236ab2b5487e9f6'},{'$oid': '630e6c48bd0aa44bd075613e'},True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6568b8dc0be0949faa6e1e19,"{'emails': True, 'importantEmails': True, 'imp...","[{'$oid': '605dfcb2f226ac25a8bd5ff0'}, {'$oid'...",[],[],[],True,False,[],student,Aarnon Mishra,aarnon.mishra@gmail.com,$2b$07$kK5XOzWfz.n2y09jvWg0UOuU6fboM/LJPbyLOsm...,LK5CH9F04UmIrk2YReyZ3,Aarnon Mishra,True,https://ui-avatars.com/api/?name=Aarnon%20Mishra,{'$date': '2023-11-30T16:31:24.834Z'},{'$date': '2024-06-23T05:48:22.301Z'},1,+918943336689,{'$oid': '605dfae41236ab2b5487e9f6'},{'$oid': '630e6c48bd0aa44bd075613e'},True,India,Maharashtra,Mumbai Suburban,400072,{'$oid': '605df635a37b7025c438d685'},False,{'$oid': '667029b67d6b8416c261f82f'},True,NaN,NaN,NaN,NaN

In [240]:
df6_1.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id,userdid,testid,timeTaken
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,NaN,NaN,NaN
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,NaN,NaN,NaN
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,NaN,NaN,NaN
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,NaN,NaN,NaN
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,NaN,NaN,NaN

In [136]:
df6_1['userdid'].nunique()

232

In [241]:
df6_1=df6_1.merge(df1_1[['_id','email']],how='left',left_on='userId',right_on='_id')

In [242]:
df6_1.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id_x,userdid,testid,timeTaken,_id_y,email
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,NaN,NaN,NaN,62a5b3562f2c8edf02cd8f28,bhumikabte@gmail.com
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,NaN,NaN,NaN,62a5b3562f2c8edf02cd8f28,bhumikabte@gmail.com
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,NaN,NaN,NaN,6342b29ce77795e149e62052,keshavisrocking99999@gmail.com
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,NaN,NaN,NaN,63542c772ef4ea103afdf799,satyamchauhan709@gmail.com
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,NaN,NaN,NaN,6342b29ce77795e149e62052,keshavisrocking99999@gmail.com

In [243]:
df6_1=df6_1.merge(df1_1_1,how='left',left_on='email',right_on='Your registered email id')

In [244]:
df6_1.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id_x,userdid,testid,timeTaken,_id_y,email,Your registered email id,Your registered mobile number,Percentile
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,NaN,NaN,NaN,62a5b3562f2c8edf02cd8f28,bhumikabte@gmail.com,bhumikabte@gmail.com,9829850384,99.462296
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,NaN,NaN,NaN,62a5b3562f2c8edf02cd8f28,bhumikabte@gmail.com,bhumikabte@gmail.com,9829850384,99.462296
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,NaN,NaN,NaN,6342b29ce77795e149e62052,keshavisrocking99999@gmail.com,keshavisrocking99999@gmail.com,7589978904,99.514817
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,NaN,NaN,NaN,63542c772ef4ea103afdf799,satyamchauhan709@gmail.com,satyamchauhan709@gmail.com,8791335915,99.342682
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,NaN,NaN,NaN,6342b29ce77795e149e62052,keshavisrocking99999@gmail.com,keshavisrocking99999@gmail.com,7589978904,99.514817

In [158]:
df6_1.groupby('pred')['Percentile'].mean()

pred
0    99.352927
1    99.361514
2    99.380721
3    99.413641
4    99.299586
Name: Percentile, dtype: float64

In [159]:
df6_2=df6_1.query('timeTaken.notna() and timeTaken>=7200')

In [160]:
df6_2.groupby('pred')['Percentile'].mean()

pred
1    99.314320
2    99.361892
3    99.422466
4    99.217055
Name: Percentile, dtype: float64

In [164]:
df6_2.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id_x,userdid,testid,timeTaken,_id_y,email,Your registered email id,Your registered mobile number,Percentile
2622,91.666667,70.967742,3.225806,25.806452,38.888889,5.555556,55.555556,34.782609,4.347826,60.869565,8.163265,48.979592,44.897959,2,6568c4f8fb9a2ba0f09571f8,641588b7ba53754de28c8935,65747a2dd2e1b9a930e0bf89,6568c4f8fb9a2ba0f09571f8,641588b7ba53754de28c8935,9115.0,6568c4f8fb9a2ba0f09571f8,aayushdubey264@gmail.com,aayushdubey264@gmail.com,9410664254,99.016153
2625,90.322581,74.193548,6.451613,19.354839,58.333333,5.555556,36.111111,52.173913,8.695652,39.130435,5.263158,65.263158,58.947368,2,64777114475ae217e9dc6bd9,641588b7ba53754de28c8935,65747b9e8eb700a89c875359,64777114475ae217e9dc6bd9,641588b7ba53754de28c8935,10650.0,64777114475ae217e9dc6bd9,pj342401@gmail.com,pj342401@gmail.com,9219171297,99.324369
2631,69.354839,61.290323,19.354839,19.354839,41.666667,25.000000,33.333333,39.130435,17.391304,43.478261,0.000000,68.888889,47.777778,1,65510b353a1b055d25ed9889,641588b7ba53754de28c8935,6574861f2b4d3ba800604043,65510b353a1b055d25ed9889,641588b7ba53754de28c8935,7859.0,65510b353a1b055d25ed9889,pratyushjha345@gmail.com,pratyushjha345@gmail.com,9971793873,99.425854
2639,81.967213,70.967742,9.677419,19.354839,55.555556,8.333333,36.111111,34.782609,21.739130,43.478261,0.000000,67.777778,55.555556,2,6509b932cfc63e5d8c683489,641588b7ba53754de28c8935,65749c079f60d6a8385338ad,6509b932cfc63e5d8c683489,641588b7ba53754de28c8935,7796.0,6509b932cfc63e5d8c683489,ronssjee2024@gmail.com,ronssjee2024@gmail.com,9002864776,99.654282
2647,74.074074,64.516129,16.129032,19.354839,41.666667,16.666667,41.666667,21.739130,13.043478,65.217391,0.000000,60.000000,44.444444,2,64db8e2432f32df0c94ab2b5,641588b7ba53754de28c8935,65754fae8eb700a89c8997a7,64db8e2432f32df0c94ab2b5,641588b7ba53754de28c8935,10591.0,64db8e2432f32df0c94ab2b5,lalitbadak11@gmail.com,lalitbadak11@gmail.com,9579672250,99.565197

In [165]:
df6_3=df6_2[['userId','pred']]

In [166]:
df6_4=df6_3.groupby('userId')['pred'].apply(lambda x:x.value_counts().index[0]).reset_index()

In [167]:
df6_4.head()

                     userId  pred
0  63301744aae5e0e0ca524661     2
1  6342b29ce77795e149e62052     2
2  638c92c92a218b511912ab89     4
3  63a09470a5cd778b9380ba27     2
4  63bd94531b5ec58b581b4f51     2

In [168]:
df6_4['pred'].value_counts()

pred
2    178
4     22
1      7
3      4
Name: count, dtype: int64

In [170]:
df6_1_1=df6_1.groupby('userId')['pred'].apply(lambda x:x.value_counts().index[0]).reset_index()
df6_1_1['pred'].value_counts()

pred
2    223
4     49
3     32
1     28
0     25
Name: count, dtype: int64

In [176]:
df6_1_1.head()

                     userId  pred
0  62a5b3562f2c8edf02cd8f28     2
1  62fa83240a17af8738a2c04a     2
2  63301744aae5e0e0ca524661     4
3  6342b29ce77795e149e62052     2
4  63542c772ef4ea103afdf799     0

In [177]:
df6_1_1[df6_1_1['pred']==0]

                       userId  pred
4    63542c772ef4ea103afdf799     0
16   63e4ead10dd35d45089260b0     0
23   64273ab23bb1f2c5cdf1954e     0
29   644cfb7cd59159991c155853     0
69   64dbb4910a8681f0894018a6     0
73   64e715bc95096203239a7f4f     0
75   64f1c2c4b0584f72dc5a82d4     0
88   6511b108072b295da7259be3     0
121  654b7e7a657d7b5cc1bfc860     0
125  6550ee44cfc63e5d8cc5c53b     0
129  655100170b1d905d740c5681     0
143  655acf362f601f5d5811f9ab     0
144  655b64d01d10925cadc844f1     0
180  657565d80dae42a870116a2a     0
199  657ef951fd24e00fdfa6c626     0
202  657f0ec616bda1111b6824f1     0
204  657f325c0f31810f9fee2fd7     0
217  65893bc55bb0ef185d5bc8b8     0
226  65918a834a9c665e92a22c6c     0
229  659197db6dfa1e5f23ea0caf     0
253  65a174ec158dd81eed45a320     0
276  65b928ea97237aa365ccb0a1     0
326  65d200bf7fca888ab8bbdab9     0
350  65f43fc65482b460b5e74119     0
355  65fbf2970160d51b03229a90     0

In [171]:
df6[df6['pred']==0].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred
count,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1720.000000,1719.000000,1719.000000,1719.000000,1720.000000,1720.000000,1720.000000,1720.0
mean,58.121024,12.968602,3.195799,83.835599,10.901310,3.324177,85.774512,8.127523,3.000629,88.871848,39.053915,9.047618,6.981683,0.0
std,37.446076,12.039840,5.263671,14.035146,10.050577,4.620953,12.139674,9.682658,5.513498,11.827290,10.078816,7.448911,6.062604,0.0
min,0.000000,0.000000,0.000000,33.333333,0.000000,0.000000,42.857143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,73.333333,0.000000,0.000000,75.675676,0.000000,0.000000,81.250000,37.500000,0.952381,0.000000,0.0
50%,73.684211,12.158167,0.000000,83.870968,10.000000,2.173913,85.365854,5.000000,0.000000,90.909091,39.597315,9.433962,6.818182,0.0
75%,87.500000,21.875000,5.555556,100.000000,18.918919,5.263158,100.000000,14.285714,5.000000,100.000000,46.059320,14.767007,11.564626,0.0
max,100.000000,55.555556,50.000000,100.000000,43.243243,29.411765,100.000000,100.000000,50.000000,100.000000,49.832776,33.333333,25.806452,0.0

In [172]:
df6[df6['pred']==1].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred
count,2313.000000,2310.000000,2310.000000,2310.000000,2312.000000,2312.000000,2312.000000,2284.000000,2284.000000,2284.000000,2313.000000,2313.000000,2313.000000,2313.0
mean,62.251480,54.498377,29.416031,16.085593,47.813143,29.284559,22.902298,38.344870,31.574186,30.080944,0.803618,76.872611,47.937351,1.0
std,9.848226,17.981250,16.625187,13.485434,15.031425,13.475369,14.626463,19.978826,19.833549,19.337016,2.891378,12.569146,11.037193,0.0
min,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.500000,2.500000,1.0
25%,57.575758,45.454545,20.000000,0.000000,37.500000,20.833333,12.500000,26.315789,20.000000,16.666667,0.000000,66.666667,40.740741,1.0
50%,64.406780,54.545455,26.666667,15.384615,47.619048,27.272727,24.000000,36.363636,28.571429,33.333333,0.000000,75.555556,48.000000,1.0
75%,69.230769,66.666667,37.500000,25.000000,56.756757,36.090909,33.333333,50.000000,40.000000,43.750000,0.000000,85.000000,55.000000,1.0
max,91.666667,100.000000,100.000000,100.000000,100.000000,100.000000,80.000000,100.000000,100.000000,100.000000,37.500000,100.000000,90.000000,1.0

In [173]:
df6[df6['pred']==2].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred
count,6828.000000,6826.000000,6826.000000,6826.000000,6821.000000,6821.000000,6821.000000,6800.000000,6800.000000,6800.000000,6828.000000,6828.000000,6828.000000,6828.0
mean,83.648162,68.238646,10.899958,20.861397,56.159220,11.616032,32.224748,41.682824,10.398092,47.919084,1.084467,67.660818,56.554300,2.0
std,6.360236,10.846365,7.138904,9.724255,10.392795,6.676994,10.338221,13.391235,8.358150,13.777974,2.919803,7.356843,7.235918,0.0
min,64.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40.000000,32.000000,2.0
25%,79.032258,61.111111,6.060606,14.705882,50.000000,7.317073,25.000000,33.333333,4.545455,38.888889,0.000000,62.222222,51.111111,2.0
50%,83.333333,68.421053,10.000000,20.588235,56.097561,11.111111,32.352941,41.666667,9.523810,47.619048,0.000000,67.777778,56.666667,2.0
75%,88.235294,75.000000,15.625000,26.666667,62.857143,15.625000,38.888889,50.000000,15.384615,56.521739,0.000000,73.333333,62.222222,2.0
max,100.000000,100.000000,58.333333,100.000000,100.000000,50.000000,100.000000,100.000000,50.000000,100.000000,25.000000,100.000000,93.333333,2.0

In [174]:
df6[df6['pred']==3].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred
count,2634.000000,2622.000000,2622.000000,2622.000000,2634.000000,2634.000000,2634.000000,2612.000000,2612.000000,2612.000000,2634.000000,2634.000000,2634.000000,2634.0
mean,85.490384,82.776271,11.026711,6.197018,76.175589,13.809933,10.014478,73.819756,14.262200,11.918044,0.222443,90.430253,77.146152,3.0
std,7.459827,12.801557,10.954846,8.516172,13.452174,11.219755,10.593669,18.685286,15.641369,14.103053,1.063812,8.282406,8.554420,0.0
min,59.090909,33.333333,0.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,62.500000,52.000000,3.0
25%,80.000000,75.000000,0.000000,0.000000,67.587440,5.405405,0.000000,61.904762,0.000000,0.000000,0.000000,83.333333,70.000000,3.0
50%,85.714286,83.333333,9.523810,0.000000,75.000000,12.500000,7.692308,71.428571,11.538462,3.333333,0.000000,90.740741,76.000000,3.0
75%,90.178571,91.666667,16.666667,11.111111,84.615385,20.000000,17.837302,88.058824,23.076923,23.809524,0.000000,100.000000,82.918379,3.0
max,100.000000,100.000000,66.666667,66.666667,100.000000,75.000000,50.000000,100.000000,100.000000,66.666667,16.666667,100.000000,100.000000,3.0

In [175]:
df6[df6['pred']==4].describe()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred
count,2868.000000,2868.000000,2868.000000,2868.000000,2867.000000,2867.000000,2867.000000,2864.000000,2864.000000,2864.000000,2868.000000,2868.000000,2868.000000,2868.0
mean,74.332292,45.328716,13.939036,40.732247,36.004498,12.820713,51.174789,24.696034,10.573311,64.730654,5.509836,46.413082,34.318238,4.0
std,10.422349,12.819318,9.045019,13.598579,10.458227,7.444353,11.306689,11.638319,8.520884,13.235058,9.104435,9.282012,7.468685,0.0
min,12.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.259259,4.000000,4.0
25%,68.421053,38.235294,7.142857,32.258065,29.166667,8.000000,43.750000,17.391304,4.545455,56.250000,0.000000,40.000000,29.629630,4.0
50%,74.509804,46.666667,13.333333,40.000000,36.363636,12.500000,50.000000,25.000000,9.523810,65.000000,0.000000,48.148148,35.456124,4.0
75%,81.250000,53.333333,19.705882,49.471831,42.857143,17.267081,58.333333,31.818182,15.384615,72.727273,9.090909,53.703704,40.000000,4.0
max,100.000000,100.000000,66.666667,100.000000,100.000000,46.153846,100.000000,80.000000,50.000000,100.000000,41.176471,80.000000,60.000000,4.0

In [192]:
df6=df6.merge(df6_1_1,how='left',left_on='userId',right_on='userId')

In [196]:
df6_1_1_1=df6.groupby('userId').describe()

In [199]:
df6_1_1_1.head()

,"(accuracy, count)","(accuracy, mean)","(accuracy, std)","(accuracy, min)","(accuracy, 25%)","(accuracy, 50%)","(accuracy, 75%)","(accuracy, max)","(easyCorrect1, count)","(easyCorrect1, mean)","(easyCorrect1, std)","(easyCorrect1, min)","(easyCorrect1, 25%)","(easyCorrect1, 50%)","(easyCorrect1, 75%)","(easyCorrect1, max)","(easyIncorrect1, count)","(easyIncorrect1, mean)","(easyIncorrect1, std)","(easyIncorrect1, min)","(easyIncorrect1, 25%)","(easyIncorrect1, 50%)","(easyIncorrect1, 75%)","(easyIncorrect1, max)","(easyUnanswered1, count)","(easyUnanswered1, mean)","(easyUnanswered1, std)","(easyUnanswered1, min)","(easyUnanswered1, 25%)","(easyUnanswered1, 50%)","(easyUnanswered1, 75%)","(easyUnanswered1, max)","(moderateCorrect1, count)","(moderateCorrect1, mean)","(moderateCorrect1, std)","(moderateCorrect1, min)","(moderateCorrect1, 25%)","(moderateCorrect1, 50%)","(moderateCorrect1, 75%)","(moderateCorrect1, max)","(moderateIncorrect1, count)","(moderateIncorrect1, mean)","(moderateIncorrect1, std)","(moderateIncorrect1, min)","(moderateIncorrect1, 25%)","(moderateIncorrect1, 50%)","(moderateIncorrect1, 75%)","(moderateIncorrect1, max)","(moderateUnanswered1, count)","(moderateUnanswered1, mean)","(moderateUnanswered1, std)","(moderateUnanswered1, min)","(moderateUnanswered1, 25%)","(moderateUnanswered1, 50%)","(moderateUnanswered1, 75%)","(moderateUnanswered1, max)","(toughCorrect1, count)","(toughCorrect1, mean)","(toughCorrect1, std)","(toughCorrect1, min)","(toughCorrect1, 25%)","(toughCorrect1, 50%)","(toughCorrect1, 75%)","(toughCorrect1, max)","(toughIncorrect1, count)","(toughIncorrect1, mean)","(toughIncorrect1, std)","(toughIncorrect1, min)","(toughIncorrect1, 25%)","(toughIncorrect1, 50%)","(toughIncorrect1, 75%)","(toughIncorrect1, max)","(toughUnanswered1, count)","(toughUnanswered1, mean)","(toughUnanswered1, std)","(toughUnanswered1, min)","(toughUnanswered1, 25%)","(toughUnanswered1, 50%)","(toughUnanswered1, 75%)","(toughUnanswered1, max)","(notVisited1, count)","(notVisited1, mean)","(notVisited1, std)","(notVisited1, min)","(notVisited1, 25%)","(notVisited1, 50%)","(notVisited1, 75%)","(notVisited1, max)","(totalAttempted1, count)","(totalAttempted1, mean)","(totalAttempted1, std)","(totalAttempted1, min)","(totalAttempted1, 25%)","(totalAttempted1, 50%)","(totalAttempted1, 75%)","(totalAttempted1, max)","(totalCorrect1, count)","(totalCorrect1, mean)","(totalCorrect1, std)","(totalCorrect1, min)","(totalCorrect1, 25%)","(totalCorrect1, 50%)","(totalCorrect1, 75%)","(totalCorrect1, max)","(pred_x, count)","(pred_x, mean)","(pred_x, std)","(pred_x, min)","(pred_x, 25%)","(pred_x, 50%)","(pred_x, 75%)","(pred_x, max)","(pred_y, count)","(pred_y, mean)","(pred_y, std)","(pred_y, min)","(pred_y, 25%)","(pred_y, 50%)","(pred_y, 75%)","(pred_y, max)"
userId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
62a5b3562f2c8edf02cd8f28,16.0,79.833331,7.941663,64.583333,75.303951,81.259968,85.317460,91.666667,16.0,57.829201,15.151039,15.000000,54.144385,58.475379,61.458333,90.909091,16.0,11.789808,7.677747,0.0,7.638889,12.310606,16.666667,27.272727,16.0,30.380991,17.353551,0.000000,26.666667,30.151515,34.027778,82.500000,16.0,41.646937,14.713030,11.904762,35.254372,41.322902,47.420263,80.000000,16.0,12.350125,6.420918,4.761905,8.054765,10.668563,15.197368,30.000000,16.0,46.002939,15.586504,10.000000,37.588905,47.413156,53.219396,83.333333,16.0,32.751763,23.381858,0.0,19.411765,29.404762,42.293233,100.00,16.0,8.753778,10.656626,0.0,0.000000,5.441176,16.008772,30.000000,16.0,58.494459,21.943285,0.000000,52.863777,60.555556,67.105263,100.0,16.0,3.370126,9.992787,0.0,0.000000,0.000000,0.274725,39.597315,16.0,56.349131,17.491591,9.395973,50.833333,53.888889,60.338828,92.000000,16.0,44.971108,14.705488,7.382550,40.000000,45.358423,49.304029,80.000000,16.0,2.687500,1.250000,0.0,2.0,2.5,4.0,4.0,16.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0
62fa83240a17af8738a2c04a,19.0,84.349733,16.047210,25.000000,82.843137,88.888889,92.522711,96.296296,19.0,56.102796,17.869222,3.225806,46.294643,54.054054,69.583333,81.250000,19.0,6.165067,4.676598,0.0,3.125000,5.555556,9.232955,18.750000,19.0,37.732136,16.970980,15.625000,28.287841,35.135135,45.161290,93.548387,19.0,40.193895,17.995832,0.000000,37.455357,45.714286,51.388889,63.636364,19.0,8.382355,7.411822,0.000000,3.896104,8.333333,9.285714,33.333333,19.0,51.423749,16.455785,32.500000,41.698842,45.714286,54.212454,95.000000,18.0,32.508928,21.403558,0.0,23.809524,28.571429,37.946429,100.00,18.0,2.264971,3.512704,0.0,0.000000,0.000000,4.571429,9.523810,18.0,65.226101,21.142746,0.000000,59.046053,65.833333,72.664835,100.0,19.0,6.151237,11.830649,0.0,0.000000,2.173913,6.209292,48.275862,19.0,49.455820,15.375278,2.298851,47.575758,54.444444,58.476703,66.666667,19.0,43.324460,14.470124,0.574713,40.000000,45.454545,52.717712,60.000000,19.0,2.368421,1.300022,0.0,2.0,2.0,4.0,4.0,19.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0
63301744aae5e0e0ca524661,26.0,81.847625,8.331969,64.000000,77.777778,84.307692,87.399194,94.736842,26.0,52.383163,17.314797,16.666667,43.080357,54.086022,64.501634,86.666667,26.0,9.892597,7.730335,0.0,4.112903,9.677419,12.802419,33.333333,26.0,37.724240,14.700635,12.903226,30.000000,32.843137,45.161290,77.419355,26.0,42.676935,10.426267,10.256410,36.174242,44.722222,50.000000,55.555556,26.0,9.161353,5.329935,0.000000,6.107955,8.333333,12.177419,22.727273,26.0,48.161711,9.072651,36.111111,43.369932,47.559524,50.000000,82.051282,26.0,29.446740,12.000117,5.0,22.554348,31.578947,37.394958,50.00,26.0,7.338842,6.679499,0.0,0.000000,5.902778,12.152778,21.052632,26.0,63.214418,13.232015,42.857143,53.174603,64.171123,71.474359,95.0,26.0,5.072394,8.374484,0.0,0.000000,1.458541,6.974871,39.597315,26.0,49.042689,10.735710,10.067114,46.296296,48.574074,56.520468,68.131868,26.0,40.466356,11.057998,8.053691,33.796296,40.318231,48.234767,59.340659,26.0,3.000000,1.166190,0.0,2.0,4.0,4.0,4.0,26.0,4.0,0.0,4.0,4.0,4.0,4.0,4.0
6342b29ce77795e149e62052,82.0,83.329477,8.322800,62.500000,78.622273,84.495192,90.205704,97.058824,82.0,67.845596,14.695809,28.125000,60.789474,69.848485,77.023810,100.000000,82.0,12.639769,9.656124,0.0,6.250000,11.111111,18.048128,50.000000,82.0,19.514635,14.450655,0.000000,11.111111,16.129032,25.000000,65.625000,82.0,57.681282,14.229014,18.181818,50.000000,58.359133,67.291667,100.000000,82.0,12.404754,11.135309,0.000000,5.405405,8.957219,15.688259,66.666667,82.0,29.913964,15.368872,0.000000,21.092504,28.125000,37.500000,75.675676,81.0,45.834722,18.477075,0.0,33.333333,47.058824,57.142857,100.00,81.0,9.500345,9.148663,0.0,0.000000,8.000000,14.285714,40.000000,81.0,44.664933,17.204052,0.000000,36.363636,45.000000,56.521739,100.0,82.0,0.824899,4.434016,0.0,0.000000,0.000000,0.000000,39.189189,82.0,69.920583,12.783457,16.891892,68.010753,72.222222,76.666667,100.000000,82.0,58.248622,11.993716,13.513514,53.333333,60.555556,64.498208,86.666667,82.0,2.231707,0.850545,0.0,2.0,2.0,2.0,4.0,82.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0
63542c772ef4ea103afdf799,65.0,78.968196,13.585829,33.333333,73.214286,82.857143,86.885246,100.000000,65.0,42.046527,24.852800,0.000000,18.181818,45.714286,60.714286,83.333333,65.0,8.841028,8.903145,0.0,2.564103,6.666667,12.500000,45.454545,65.0,49.112446,27.629910,0.000000,28.125000,39.285714,77.777778,100.000000,65.0,35.893395,18.003187,5.714286,20.000000,37.500000,51.351351,74.074074,65.0,9.956431,7.264094,0.000000,5.128205,9.375000,14.285714,27.777778,65.0,54.150174,21.428019,14.814815,36.363636,50.000000,77.777778,94.285714,65.0,28.298969,18.264164,0.0,14.285714,26.315789,42.857143,68.75,65.0,9.984369,9.837685,0.0,4.347826,8.000000,13.333333,50.000000,65.0,61.716662,22.877595,0.000000,45.000000,66.666667,81.818182,100.0,65.0,23.073984,14.004521,0.0,12.903226,19.402985,40.000000,45.652174,65.0,38.250494,22.656663,2.500000,11.184211,43.661972,55.445545,82.142857,65.0,30.395430,19.039740,2.173913,9.868421,32.394366,45.161290,69.642857,65.0,1.892308,1.650029,0.0,0.0,2.0,4.0,4.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:
df6_1_1_1.columns=df6_1_1_1.columns.to_flat_index()

In [225]:
df6_1_1_2=df6_1_1_1[df6_1_1_1.iloc[:,-1]==0].iloc[:,[1,9,15,17,23,25,31,33,39,41,47,49,51,55,57,63,65,71,73,75,81,87,89,95,97,103]]

In [220]:
df6.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred_x,userId,testId,_id,pred_y
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,2
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,2
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,2
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,0
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,2

In [226]:
df6_1_1_2.head()

,"(accuracy, mean)","(easyCorrect1, mean)","(easyCorrect1, max)","(easyIncorrect1, mean)","(easyIncorrect1, max)","(easyUnanswered1, mean)","(easyUnanswered1, max)","(moderateCorrect1, mean)","(moderateCorrect1, max)","(moderateIncorrect1, mean)","(moderateIncorrect1, max)","(moderateUnanswered1, mean)","(moderateUnanswered1, min)","(moderateUnanswered1, max)","(toughCorrect1, mean)","(toughCorrect1, max)","(toughIncorrect1, mean)","(toughIncorrect1, max)","(toughUnanswered1, mean)","(toughUnanswered1, min)","(notVisited1, mean)","(notVisited1, max)","(totalAttempted1, mean)","(totalAttempted1, max)","(totalCorrect1, mean)","(totalCorrect1, max)"
userId,,,,,,,,,,,,,,,,,,,,,,,,,,
63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.000,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.750000,9.984369,50.000000,61.716662,0.000000,23.073984,45.652174,38.250494,82.142857,30.395430,69.642857
63e4ead10dd35d45089260b0,57.915288,26.045310,100.000000,11.313334,85.714286,62.641356,100.000,18.799951,75.000000,11.509644,100.000000,69.690405,0.000000,100.000000,16.746659,100.000000,8.813123,100.000000,74.440218,0.000000,25.665039,49.720670,28.417996,100.000000,18.640178,80.000000
64273ab23bb1f2c5cdf1954e,58.294826,35.407988,81.818182,13.594643,35.483871,50.997370,100.000,27.870404,56.756757,13.390214,35.897436,58.739382,24.324324,100.000000,21.576719,58.823529,9.922795,31.578947,68.500486,26.315789,16.517046,49.152542,40.653828,76.666667,28.393970,61.111111
644cfb7cd59159991c155853,42.227717,37.592362,93.939394,6.088386,50.000000,56.319252,100.000,33.879675,87.500000,6.220006,43.478261,59.900319,0.000000,100.000000,27.655741,87.096774,6.285275,41.176471,66.058984,0.000000,24.275368,49.806950,39.600130,98.591549,33.428912,85.915493
64dbb4910a8681f0894018a6,78.144650,45.474903,100.000000,12.101256,60.000000,42.423841,96.875,39.330028,83.333333,12.026400,50.000000,48.643572,0.000000,97.368421,30.524564,100.000000,11.794386,71.428571,57.681049,0.000000,17.166265,47.058824,45.985579,100.000000,35.310865,73.333333

In [231]:
df6_1_1_3=df6_1_1_2.reset_index()

In [232]:
df6_1_1_3.head()

,userId,"(accuracy, mean)","(easyCorrect1, mean)","(easyCorrect1, max)","(easyIncorrect1, mean)","(easyIncorrect1, max)","(easyUnanswered1, mean)","(easyUnanswered1, max)","(moderateCorrect1, mean)","(moderateCorrect1, max)","(moderateIncorrect1, mean)","(moderateIncorrect1, max)","(moderateUnanswered1, mean)","(moderateUnanswered1, min)","(moderateUnanswered1, max)","(toughCorrect1, mean)","(toughCorrect1, max)","(toughIncorrect1, mean)","(toughIncorrect1, max)","(toughUnanswered1, mean)","(toughUnanswered1, min)","(notVisited1, mean)","(notVisited1, max)","(totalAttempted1, mean)","(totalAttempted1, max)","(totalCorrect1, mean)","(totalCorrect1, max)"
0,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.000,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.750000,9.984369,50.000000,61.716662,0.000000,23.073984,45.652174,38.250494,82.142857,30.395430,69.642857
1,63e4ead10dd35d45089260b0,57.915288,26.045310,100.000000,11.313334,85.714286,62.641356,100.000,18.799951,75.000000,11.509644,100.000000,69.690405,0.000000,100.000000,16.746659,100.000000,8.813123,100.000000,74.440218,0.000000,25.665039,49.720670,28.417996,100.000000,18.640178,80.000000
2,64273ab23bb1f2c5cdf1954e,58.294826,35.407988,81.818182,13.594643,35.483871,50.997370,100.000,27.870404,56.756757,13.390214,35.897436,58.739382,24.324324,100.000000,21.576719,58.823529,9.922795,31.578947,68.500486,26.315789,16.517046,49.152542,40.653828,76.666667,28.393970,61.111111
3,644cfb7cd59159991c155853,42.227717,37.592362,93.939394,6.088386,50.000000,56.319252,100.000,33.879675,87.500000,6.220006,43.478261,59.900319,0.000000,100.000000,27.655741,87.096774,6.285275,41.176471,66.058984,0.000000,24.275368,49.806950,39.600130,98.591549,33.428912,85.915493
4,64dbb4910a8681f0894018a6,78.144650,45.474903,100.000000,12.101256,60.000000,42.423841,96.875,39.330028,83.333333,12.026400,50.000000,48.643572,0.000000,97.368421,30.524564,100.000000,11.794386,71.428571,57.681049,0.000000,17.166265,47.058824,45.985579,100.000000,35.310865,73.333333

In [233]:
df6_1_1_3=df6_1_1_3.merge(df6_1_1,how='left',left_on=['userId'],right_on='userId')

In [234]:
df6_1_1_3.head()

,userId,"(accuracy, mean)","(easyCorrect1, mean)","(easyCorrect1, max)","(easyIncorrect1, mean)","(easyIncorrect1, max)","(easyUnanswered1, mean)","(easyUnanswered1, max)","(moderateCorrect1, mean)","(moderateCorrect1, max)","(moderateIncorrect1, mean)","(moderateIncorrect1, max)","(moderateUnanswered1, mean)","(moderateUnanswered1, min)","(moderateUnanswered1, max)","(toughCorrect1, mean)","(toughCorrect1, max)","(toughIncorrect1, mean)","(toughIncorrect1, max)","(toughUnanswered1, mean)","(toughUnanswered1, min)","(notVisited1, mean)","(notVisited1, max)","(totalAttempted1, mean)","(totalAttempted1, max)","(totalCorrect1, mean)","(totalCorrect1, max)",pred
0,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.000,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.750000,9.984369,50.000000,61.716662,0.000000,23.073984,45.652174,38.250494,82.142857,30.395430,69.642857,0
1,63e4ead10dd35d45089260b0,57.915288,26.045310,100.000000,11.313334,85.714286,62.641356,100.000,18.799951,75.000000,11.509644,100.000000,69.690405,0.000000,100.000000,16.746659,100.000000,8.813123,100.000000,74.440218,0.000000,25.665039,49.720670,28.417996,100.000000,18.640178,80.000000,0
2,64273ab23bb1f2c5cdf1954e,58.294826,35.407988,81.818182,13.594643,35.483871,50.997370,100.000,27.870404,56.756757,13.390214,35.897436,58.739382,24.324324,100.000000,21.576719,58.823529,9.922795,31.578947,68.500486,26.315789,16.517046,49.152542,40.653828,76.666667,28.393970,61.111111,0
3,644cfb7cd59159991c155853,42.227717,37.592362,93.939394,6.088386,50.000000,56.319252,100.000,33.879675,87.500000,6.220006,43.478261,59.900319,0.000000,100.000000,27.655741,87.096774,6.285275,41.176471,66.058984,0.000000,24.275368,49.806950,39.600130,98.591549,33.428912,85.915493,0
4,64dbb4910a8681f0894018a6,78.144650,45.474903,100.000000,12.101256,60.000000,42.423841,96.875,39.330028,83.333333,12.026400,50.000000,48.643572,0.000000,97.368421,30.524564,100.000000,11.794386,71.428571,57.681049,0.000000,17.166265,47.058824,45.985579,100.000000,35.310865,73.333333,0

In [245]:
df6_1.head()

,accuracy,easyCorrect1,easyIncorrect1,easyUnanswered1,moderateCorrect1,moderateIncorrect1,moderateUnanswered1,toughCorrect1,toughIncorrect1,toughUnanswered1,notVisited1,totalAttempted1,totalCorrect1,pred,userId,testId,_id_x,userdid,testid,timeTaken,_id_y,email,Your registered email id,Your registered mobile number,Percentile
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,NaN,NaN,NaN,62a5b3562f2c8edf02cd8f28,bhumikabte@gmail.com,bhumikabte@gmail.com,9829850384,99.462296
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,NaN,NaN,NaN,62a5b3562f2c8edf02cd8f28,bhumikabte@gmail.com,bhumikabte@gmail.com,9829850384,99.462296
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,NaN,NaN,NaN,6342b29ce77795e149e62052,keshavisrocking99999@gmail.com,keshavisrocking99999@gmail.com,7589978904,99.514817
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,NaN,NaN,NaN,63542c772ef4ea103afdf799,satyamchauhan709@gmail.com,satyamchauhan709@gmail.com,8791335915,99.342682
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,NaN,NaN,NaN,6342b29ce77795e149e62052,keshavisrocking99999@gmail.com,keshavisrocking99999@gmail.com,7589978904,99.514817

In [247]:
df6_1_1_3=df6_1_1_3.merge(df6_1[['userId','Percentile']],how='left',left_on='userId',right_on='userId')
df6_1_1_3.head()

,userId,"(accuracy, mean)","(easyCorrect1, mean)","(easyCorrect1, max)","(easyIncorrect1, mean)","(easyIncorrect1, max)","(easyUnanswered1, mean)","(easyUnanswered1, max)","(moderateCorrect1, mean)","(moderateCorrect1, max)","(moderateIncorrect1, mean)","(moderateIncorrect1, max)","(moderateUnanswered1, mean)","(moderateUnanswered1, min)","(moderateUnanswered1, max)","(toughCorrect1, mean)","(toughCorrect1, max)","(toughIncorrect1, mean)","(toughIncorrect1, max)","(toughUnanswered1, mean)","(toughUnanswered1, min)","(notVisited1, mean)","(notVisited1, max)","(totalAttempted1, mean)","(totalAttempted1, max)","(totalCorrect1, mean)","(totalCorrect1, max)",pred,Percentile
0,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.0,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.75,9.984369,50.0,61.716662,0.0,23.073984,45.652174,38.250494,82.142857,30.39543,69.642857,0,99.342682
1,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.0,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.75,9.984369,50.0,61.716662,0.0,23.073984,45.652174,38.250494,82.142857,30.39543,69.642857,0,99.342682
2,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.0,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.75,9.984369,50.0,61.716662,0.0,23.073984,45.652174,38.250494,82.142857,30.39543,69.642857,0,99.342682
3,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.0,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.75,9.984369,50.0,61.716662,0.0,23.073984,45.652174,38.250494,82.142857,30.39543,69.642857,0,99.342682
4,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.0,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.75,9.984369,50.0,61.716662,0.0,23.073984,45.652174,38.250494,82.142857,30.39543,69.642857,0,99.342682

In [248]:
df6_1_1_3=df6_1_1_3.groupby('userId').mean()

In [249]:
df6_1_1_3.head()

,"(accuracy, mean)","(easyCorrect1, mean)","(easyCorrect1, max)","(easyIncorrect1, mean)","(easyIncorrect1, max)","(easyUnanswered1, mean)","(easyUnanswered1, max)","(moderateCorrect1, mean)","(moderateCorrect1, max)","(moderateIncorrect1, mean)","(moderateIncorrect1, max)","(moderateUnanswered1, mean)","(moderateUnanswered1, min)","(moderateUnanswered1, max)","(toughCorrect1, mean)","(toughCorrect1, max)","(toughIncorrect1, mean)","(toughIncorrect1, max)","(toughUnanswered1, mean)","(toughUnanswered1, min)","(notVisited1, mean)","(notVisited1, max)","(totalAttempted1, mean)","(totalAttempted1, max)","(totalCorrect1, mean)","(totalCorrect1, max)",pred,Percentile
userId,,,,,,,,,,,,,,,,,,,,,,,,,,,,
63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.000,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.750000,9.984369,50.000000,61.716662,0.000000,23.073984,45.652174,38.250494,82.142857,30.395430,69.642857,0.0,99.342682
63e4ead10dd35d45089260b0,57.915288,26.045310,100.000000,11.313334,85.714286,62.641356,100.000,18.799951,75.000000,11.509644,100.000000,69.690405,0.000000,100.000000,16.746659,100.000000,8.813123,100.000000,74.440218,0.000000,25.665039,49.720670,28.417996,100.000000,18.640178,80.000000,0.0,99.128581
64273ab23bb1f2c5cdf1954e,58.294826,35.407988,81.818182,13.594643,35.483871,50.997370,100.000,27.870404,56.756757,13.390214,35.897436,58.739382,24.324324,100.000000,21.576719,58.823529,9.922795,31.578947,68.500486,26.315789,16.517046,49.152542,40.653828,76.666667,28.393970,61.111111,0.0,99.100415
644cfb7cd59159991c155853,42.227717,37.592362,93.939394,6.088386,50.000000,56.319252,100.000,33.879675,87.500000,6.220006,43.478261,59.900319,0.000000,100.000000,27.655741,87.096774,6.285275,41.176471,66.058984,0.000000,24.275368,49.806950,39.600130,98.591549,33.428912,85.915493,0.0,99.134111
64dbb4910a8681f0894018a6,78.144650,45.474903,100.000000,12.101256,60.000000,42.423841,96.875,39.330028,83.333333,12.026400,50.000000,48.643572,0.000000,97.368421,30.524564,100.000000,11.794386,71.428571,57.681049,0.000000,17.166265,47.058824,45.985579,100.000000,35.310865,73.333333,0.0,99.225457

In [250]:
df6_1_1_3=df6_1_1_3.reset_index()
df6_1_1_3.head()

,userId,"(accuracy, mean)","(easyCorrect1, mean)","(easyCorrect1, max)","(easyIncorrect1, mean)","(easyIncorrect1, max)","(easyUnanswered1, mean)","(easyUnanswered1, max)","(moderateCorrect1, mean)","(moderateCorrect1, max)","(moderateIncorrect1, mean)","(moderateIncorrect1, max)","(moderateUnanswered1, mean)","(moderateUnanswered1, min)","(moderateUnanswered1, max)","(toughCorrect1, mean)","(toughCorrect1, max)","(toughIncorrect1, mean)","(toughIncorrect1, max)","(toughUnanswered1, mean)","(toughUnanswered1, min)","(notVisited1, mean)","(notVisited1, max)","(totalAttempted1, mean)","(totalAttempted1, max)","(totalCorrect1, mean)","(totalCorrect1, max)",pred,Percentile
0,63542c772ef4ea103afdf799,78.968196,42.046527,83.333333,8.841028,45.454545,49.112446,100.000,35.893395,74.074074,9.956431,27.777778,54.150174,14.814815,94.285714,28.298969,68.750000,9.984369,50.000000,61.716662,0.000000,23.073984,45.652174,38.250494,82.142857,30.395430,69.642857,0.0,99.342682
1,63e4ead10dd35d45089260b0,57.915288,26.045310,100.000000,11.313334,85.714286,62.641356,100.000,18.799951,75.000000,11.509644,100.000000,69.690405,0.000000,100.000000,16.746659,100.000000,8.813123,100.000000,74.440218,0.000000,25.665039,49.720670,28.417996,100.000000,18.640178,80.000000,0.0,99.128581
2,64273ab23bb1f2c5cdf1954e,58.294826,35.407988,81.818182,13.594643,35.483871,50.997370,100.000,27.870404,56.756757,13.390214,35.897436,58.739382,24.324324,100.000000,21.576719,58.823529,9.922795,31.578947,68.500486,26.315789,16.517046,49.152542,40.653828,76.666667,28.393970,61.111111,0.0,99.100415
3,644cfb7cd59159991c155853,42.227717,37.592362,93.939394,6.088386,50.000000,56.319252,100.000,33.879675,87.500000,6.220006,43.478261,59.900319,0.000000,100.000000,27.655741,87.096774,6.285275,41.176471,66.058984,0.000000,24.275368,49.806950,39.600130,98.591549,33.428912,85.915493,0.0,99.134111
4,64dbb4910a8681f0894018a6,78.144650,45.474903,100.000000,12.101256,60.000000,42.423841,96.875,39.330028,83.333333,12.026400,50.000000,48.643572,0.000000,97.368421,30.524564,100.000000,11.794386,71.428571,57.681049,0.000000,17.166265,47.058824,45.985579,100.000000,35.310865,73.333333,0.0,99.225457

In [251]:
df6_1_1_3.groupby('pred')['Percentile'].mean()

pred
0.0    99.333559
Name: Percentile, dtype: float64

In [185]:
df6.head()

,<built-in method strip of str object at 0x2ac503570>,<built-in method strip of str object at 0x112ae9080>,<built-in method strip of str object at 0x112da7ad0>,<built-in method strip of str object at 0x1130166c0>,<built-in method strip of str object at 0x113016760>,<built-in method strip of str object at 0x112e9f750>,<built-in method strip of str object at 0x3d14e5e10>,<built-in method strip of str object at 0x112b2ff80>,<built-in method strip of str object at 0x112b2fe40>,<built-in method strip of str object at 0x3fe2b48a0>,<built-in method strip of str object at 0x3fe2b4850>,<built-in method strip of str object at 0x3fe2b4cb0>,<built-in method strip of str object at 0x3fe2b4300>,<built-in method strip of str object at 0x3fe23b3b0>,<built-in method strip of str object at 0x2ac503f30>,<built-in method strip of str object at 0x3fe28d470>,<built-in method strip of str object at 0x3fe28d630>,<built-in method strip of str object at 0x3fe28d0f0>
0,71.428571,69.230769,23.076923,7.692308,40.000000,30.000000,30.000000,100.000000,0.000000,0.000000,0.000000,84.000000,60.000000,3,62a5b3562f2c8edf02cd8f28,629c1fffa267606d24fb7411,62a615351ed36c04de22cae7,2
1,86.956522,90.909091,9.090909,0.000000,80.000000,10.000000,10.000000,50.000000,25.000000,25.000000,0.000000,92.000000,80.000000,3,62a5b3562f2c8edf02cd8f28,629c5b8f8f253e5778bd86a8,62af04539011c8495db99872,2
2,85.000000,83.333333,8.333333,8.333333,50.000000,0.000000,50.000000,16.666667,33.333333,50.000000,0.000000,66.666667,56.666667,2,6342b29ce77795e149e62052,62d048869f6e5150d0b4fc0f,6342cea5c09d95e0e99f9e8b,2
3,100.000000,0.000000,0.000000,100.000000,18.181818,0.000000,81.818182,12.500000,0.000000,87.500000,41.176471,8.823529,8.823529,0,63542c772ef4ea103afdf799,62d04863c6a09e2c86a69d09,63627c74ebd62fc378ced962,0
4,62.500000,66.666667,22.222222,11.111111,38.888889,38.888889,22.222222,66.666667,0.000000,33.333333,0.000000,80.000000,50.000000,1,6342b29ce77795e149e62052,62d04878cb20fa1bfa8e349a,63674f2475aa7bc3d7bff510,2